flows.json
[{"id":"159267e74267d50b","type":"group","z":"e345e003a053a625","name":"指令處理","style":{"label":true},"nodes":["980a4baa0da6ddec","42b1aa42bcc365e6","6f2dc9d836257d53","ea792b0bb24e604b","a4b805ba9ce0910c","fe9ec637490c3e1c","12268fec3b64a966","b62095d97c28d990","583ec01ceab0f2e0","c3ae9d12a323889e","83e5e0d8765d1ea3","ab1bb3e273ba3b6a"],"x":8,"y":233,"w":1458,"h":841.5},{"id":"980a4baa0da6ddec","type":"mqtt in","z":"e345e003a053a625","g":"159267e74267d50b","name":"","topic":"homeassistant/+/+/+/+/set/#","qos":"0","datatype":"auto-detect","broker":"751ec40a6956d4f9","nl":false,"rap":true,"rh":0,"inputs":0,"x":300,"y":720,"wires":[["42b1aa42bcc365e6","6f2dc9d836257d53"]]},{"id":"42b1aa42bcc365e6","type":"function","z":"e345e003a053a625","g":"159267e74267d50b","name":"command(General)","func":"const DEFAULT_BRIGHTNESS = 100;\nconst DEFAULT_COLORTEMP = 250;\nconst MIN_MIRED = 167, MAX_MIRED = 333;\nconst BRIGHTNESS_TIME = 0x05;\nconst CHANNEL_REGISTER_MAP = {\n    \"1\": 0x082A,\n    \"2\": 0x082B,\n    \"3\": 0x082C,\n    \"4\": 0x082D,\n    \"a\": [0x082A, 0x082B],\n    \"b\": [0x082C, 0x082D],\n};\n\n// CRC\nfunction verifyCRC(buf) {\n    let crc = 0xFFFF;\n    for (let i = 0; i < buf.length - 2; i++) {\n        crc ^= buf[i];\n        for (let j = 0; j < 8; j++) {\n            crc = (crc & 1) ? ((crc >> 1) ^ 0xA001) : (crc >> 1);\n        }\n    }\n    const lo = crc & 0xFF;\n    const hi = (crc >> 8) & 0xFF;\n    return lo === buf[buf.length - 2] && hi === buf[buf.length - 1];\n}\n\nfunction printBinary(output) {\n    node.warn(`${output.toString(2).padStart(8, \"0\")}`);\n}\n\nfunction generalCommandBuild(frame) {\n    function crc16(buf) {\n        let crc = 0xFFFF;\n        for (const b of buf) {\n            crc ^= b;\n            for (let i = 0; i < 8; i++) {\n                crc = (crc & 1) ? ((crc >> 1) ^ 0xA001) : (crc >> 1);\n            }\n        }\n        return crc;\n    }\n    const crc = crc16(frame);\n    return Buffer.concat([frame, Buffer.from([crc & 0xFF, (crc >> 8) & 0xFF])]);\n}\n\nfunction clamp(value, min, max) {\n    return value < min ? min : value > max ? max : value;\n}\n\nfunction getBrightness(subType, moduleId, channel, state) {\n    let brightness = flow.get(`${subType}_${moduleId}_${channel}_brightness`);\n    if (typeof brightness !== \"number\") brightness = DEFAULT_BRIGHTNESS;\n    // 限制亮度範圍\n    brightness = (state === \"ON\") ? clamp(Math.round(brightness), 0, 100) : 0x00;\n    return brightness;\n}\n\n// 主流程\nconst parts = String(msg.topic || \"\").split(\"/\");\nconst deviceType = parts[1];     // light cover hvac memory scene query\n\n// 處理 flow 快取更新 homeassistant/device_type/subType/id/channel/set/attribute\n// 範例 homeassistant/light/single/13/1/set/brightness\nif (parts[5] === \"set\" && parts.length >= 7) {\n    const subType = parts[2];\n    const moduleId = parts[3];\n    const channel = parts[4];\n    const attribute = parts[6];  // brightness colortemp 等\n\n    const key = `${subType}_${moduleId}_${channel}_${attribute}`;\n    const val = Number(msg.payload);\n\n    if (!isNaN(val)) {\n        flow.set(key, val);\n        node.status({ fill: \"green\", shape: \"ring\", text: `${key} = ${val}` });\n    }\n    return null;\n}\n\nswitch (deviceType) {\n    case \"light\": {\n        const subType = parts[2];      // single, dual, relay, scene\n        const moduleId = parseInt(parts[3]);  // 模組 ID\n        const channel = parts[4];      // 通道 ID\n\n        switch (subType) {\n            case \"relay\": {\n                const CHANNEL_COIL_MAP = {\n                    \"1\": 0x0000,\n                    \"2\": 0x0001,\n                    \"3\": 0x0002,\n                    \"4\": 0x0003,\n                };\n                const addr = CHANNEL_COIL_MAP[channel];\n                if (addr === undefined) return null;\n\n                // Coil 寫入值 ON 為 0xFF00 OFF 為 0x0000\n                const valHi = (msg.payload === \"ON\") ? 0xFF : 0x00;\n                const valLo = 0x00;\n\n                // 高低位位址\n                const hi = (addr >> 8) & 0xFF;\n                const lo = addr & 0xFF;\n\n                // 組 Modbus 指令 0x05 Write Single Coil\n                const frame = Buffer.from([moduleId, 0x05, hi, lo, valHi, valLo]);\n                const state = (msg.payload === \"ON\") ? \"ON\" : \"OFF\";\n\n                // 推入 modbus_queue 統一管理發送\n                let modbus_queue = global.get(\"modbus_queue\") || [];\n                modbus_queue.push({ payload: generalCommandBuild(frame) });\n                global.set(\"modbus_queue\", modbus_queue);\n\n                // 發送 MQTT 狀態更新給 Home Assistant\n                let mqtt_queue = global.get(\"mqtt_queue\") || [];\n                const baseTopic = `homeassistant/light/${subType}/${moduleId}/${channel}`;\n                mqtt_queue.push({ topic: `${baseTopic}/state`, payload: state });\n                global.set(\"mqtt_queue\", mqtt_queue);\n\n                // 發送觸發訊息給 modbus_queue_processor\n                node.send([null, { topic: \"trigger_modbus_queue\", payload: \"process\" }]);\n                return null;\n            }\n            case \"single\": {\n                // 狀態 ON 或 OFF\n                let state = (msg.payload === \"ON\" || msg.payload === true) ? \"ON\" : \"OFF\";\n\n                let brightness = getBrightness(subType, moduleId, channel, state);\n                // 取得對應寄存器\n                const reg = CHANNEL_REGISTER_MAP[channel];\n                if (!reg) return null;\n                // 高低位元組\n                const hi = (reg >> 8) & 0xFF;\n                const lo = reg & 0xFF;\n                // OFF 狀態使用 speed=0x00 立即執行，ON 狀態使用 BRIGHTNESS_TIME\n                const speed = (state === \"OFF\") ? 0x00 : BRIGHTNESS_TIME;\n                // 組 Modbus 指令\n                const cmd = Buffer.from([moduleId, 0x06, hi, lo, speed, brightness]);\n\n                // 推入 modbus_queue 統一管理發送\n                let modbus_queue = global.get(\"modbus_queue\") || [];\n                modbus_queue.push({ payload: generalCommandBuild(cmd) });\n                global.set(\"modbus_queue\", modbus_queue);\n\n                // 發送 MQTT 狀態更新給 Home Assistant\n                let mqtt_queue = global.get(\"mqtt_queue\") || [];\n                const baseTopic = `homeassistant/light/${subType}/${moduleId}/${channel}`;\n                mqtt_queue.push({ topic: `${baseTopic}/state`, payload: state });\n                if (state === \"ON\") {\n                    mqtt_queue.push({ topic: `${baseTopic}/brightness`, payload: brightness });\n                }\n                global.set(\"mqtt_queue\", mqtt_queue);\n\n                // 發送觸發訊息給 modbus_queue_processor\n                node.send([null, { topic: \"trigger_modbus_queue\", payload: \"process\" }]);\n                return null;\n            }\n            case \"dual\": {\n                const regs = CHANNEL_REGISTER_MAP[channel];\n                if (!regs) return null;\n\n                let state = (msg.payload === \"ON\" || msg.payload === true) ? \"ON\" : \"OFF\";\n                const brKey = `${subType}_${moduleId}_${channel}_brightness`;\n                const ctKey = `${subType}_${moduleId}_${channel}_colortemp`;\n\n                let brightness = flow.get(brKey);\n                if (typeof brightness !== \"number\") brightness = DEFAULT_BRIGHTNESS;\n                brightness = clamp(Math.round(brightness), 0, 100);\n\n                let colortemp = flow.get(ctKey);\n                if (typeof colortemp !== \"number\") colortemp = DEFAULT_COLORTEMP;\n                colortemp = clamp(Math.round(colortemp), MIN_MIRED, MAX_MIRED);\n                const ctPercent = Math.round(((MAX_MIRED - colortemp) / (MAX_MIRED - MIN_MIRED)) * 100);\n                function buildCommand(moduleId, reg, value, speed = 0x05) {\n                    const hi = (reg >> 8) & 0xFF;\n                    const lo = reg & 0xFF;\n                    const cmd = Buffer.from([moduleId, 0x06, hi, lo, speed, value]);\n                    return generalCommandBuild(cmd);\n                }\n                const brValue = (state === \"ON\") ? brightness : 0;\n                const cmdBrightness = buildCommand(moduleId, regs[0], brValue);\n                const cmdColortemp = buildCommand(moduleId, regs[1], ctPercent);\n\n                // 推入 modbus_queue 統一管理發送\n                let modbus_queue = global.get(\"modbus_queue\") || [];\n                modbus_queue.push({ payload: cmdBrightness });\n                modbus_queue.push({ payload: cmdColortemp });\n                global.set(\"modbus_queue\", modbus_queue);\n\n                // 發送 MQTT 狀態更新給 Home Assistant\n                let mqtt_queue = global.get(\"mqtt_queue\") || [];\n                const baseTopic = `homeassistant/light/${subType}/${moduleId}/${channel}`;\n                mqtt_queue.push({ topic: `${baseTopic}/state`, payload: state });\n                if (state === \"ON\") {\n                    mqtt_queue.push({ topic: `${baseTopic}/brightness`, payload: brightness });\n                    mqtt_queue.push({ topic: `${baseTopic}/colortemp`, payload: colortemp });\n                }\n                global.set(\"mqtt_queue\", mqtt_queue);\n\n                // 發送觸發訊息給 modbus_queue_processor\n                node.send([null, { topic: \"trigger_modbus_queue\", payload: \"process\" }]);\n\n                return null;\n            }\n            case \"wrgb\": {\n                return null;\n            }\n            case \"scene\": {\n                let mqtt_queue = global.get(\"mqtt_queue\");\n                switch (parts[3]) {\n                    case \"single\": {\n                        let lights = (parts[4]).split(\"--\");\n                        let groupBrightness = flow.get(`${subType}_${parts[3]}_${parts[4]}_brightness`);\n                        for (let i = 0; i < lights.length; i++) {\n                            let lightId = lights[i].split(\"-\")[0];\n                            let lightChannel = lights[i].split(\"-\")[1];\n\n                            let stateMsg = { ...msg };\n                            stateMsg.topic = `homeassistant/light/${parts[3]}/${lightId}/${lightChannel}/state`;\n                            mqtt_queue.push(stateMsg);\n\n                            let brightnessMsg = { ...msg };\n                            brightnessMsg.topic = `homeassistant/light/${parts[3]}/${lightId}/${lightChannel}/set/brightness`;\n                            brightnessMsg.payload = groupBrightness;\n                            mqtt_queue.push(brightnessMsg);\n\n                            let brightnessStateMsg = { ...msg };\n                            brightnessStateMsg.topic = `homeassistant/light/${parts[3]}/${lightId}/${lightChannel}/brightness`;\n                            brightnessStateMsg.payload = groupBrightness;\n                            mqtt_queue.push(brightnessStateMsg);\n\n                            let setMsg = { ...msg };\n                            setMsg.topic = `homeassistant/light/${parts[3]}/${lightId}/${lightChannel}/set`;\n                            mqtt_queue.push(setMsg);\n                        }\n                        return null;\n                    }\n                    default: {\n                        node.warn(`receive scene:${parts[3]}`);\n                        return null;\n                    }\n                }\n            }\n            default: {\n                node.warn(`unknown light subtype: ${subType}`);\n                return null;\n            }\n        }\n    }\n    case \"cover\": {\n        // 格式 開啟的relay_開啟的relay/關閉的relay_關閉的relay\n        // payload 範例 1_2/3 表示開啟 relay 1 和 2 關閉 relay 3\n        const moduleId = parseInt(parts[3]);  // 模組 ID\n\n        let relays = msg.payload.split(\"/\");\n        let on_relays = relays[0] ? relays[0].split(\"_\").map(Number) : [];\n        let off_relays = (relays[1] && relays[1].length > 0) ? relays[1].split(\"_\").map(Number) : [];\n\n        // 計算 bit mask\n        let output = 0x00;\n\n        // 打開 on_relays\n        for (let relay of on_relays) {\n            output |= (1 << (relay - 1));  // relay 1 對應 bit 0\n        }\n\n        // 清除 off_relays 對應的 bit\n        for (let relay of off_relays) {\n            output &= ~(1 << (relay - 1)); // relay 2 對應 bit 1 置 0\n        }\n        const frame = Buffer.from([moduleId, 0x06, 0x01, 0x9b, 0x10, output]);\n        msg.payload = generalCommandBuild(frame);\n        // 推入 modbus_queue 統一管理發送\n        let modbus_queue = global.get(\"modbus_queue\") || [];\n        modbus_queue.push(msg);\n        global.set(\"modbus_queue\", modbus_queue);\n        // 發送觸發訊息給 modbus_queue_processor\n        node.send([null, { topic: \"trigger_modbus_queue\", payload: \"process\" }]);\n        return null;\n    }\n    case \"hvac\": {\n        const s200Id = parseInt(parts[2]);      // S200 模組 ID\n        const hvacId = parseInt(parts[3]);      // HVAC 設備 ID 1 2 3\n        const hvacAction = parts[4];            // mode fan temperature\n        const payload = msg.payload;\n\n        const baseAddress = 0x100;\n        const speed = 0x00; // 統一 transition speed\n\n        const modeMap = {\n            \"cool\": 0,\n            \"heat\": 1,\n            \"dry\": 2,\n            \"fan_only\": 3,\n            \"off\": 4\n        };\n\n        const fanModeMap = {\n            \"auto\": 0,\n            \"low\": 1,\n            \"medium\": 2,\n            \"high\": 3\n        };\n\n        let register, value;\n\n        switch (hvacAction) {\n            case \"mode\":\n                register = baseAddress + hvacId * 8 + 1;\n                value = modeMap[payload];\n                break;\n\n            case \"fan\":\n                register = baseAddress + hvacId * 8 + 2;\n                value = fanModeMap[payload];\n                break;\n\n            case \"temperature\":\n                register = baseAddress + hvacId * 8 + 3;\n                value = parseFloat(payload);\n                break;\n\n            default:\n                node.warn(\"Unknown HVAC action: \" + hvacAction);\n                return null;\n        }\n\n        if (value === undefined || value === null) {\n            node.warn(\"Invalid HVAC value: \" + payload);\n            return null;\n        }\n\n        const regHi = (register >> 8) & 0xFF;\n        const regLo = register & 0xFF;\n\n        // s200Id, 0x06, regHi, regLo, speed, value\n        const frame = Buffer.from([\n            s200Id,\n            0x06,\n            regHi,\n            regLo,\n            speed,\n            value\n        ]);\n\n        msg.payload = generalCommandBuild(frame);\n        // 推入 modbus_queue 統一管理發送\n        let modbus_queue = global.get(\"modbus_queue\") || [];\n        modbus_queue.push(msg);\n        global.set(\"modbus_queue\", modbus_queue);\n        // 發送觸發訊息給 modbus_queue_processor\n        node.send([null, { topic: \"trigger_modbus_queue\", payload: \"process\" }]);\n        return null;\n    }\n    case \"memory\": {\n        // 記憶儲存處理\n        // 主題格式 homeassistant/memory/sceneId/operation/save/set\n        const sceneId = parts[2];      // 0x02 0x03 0xFF\n        const operation = parts[3];    // 0x01 0x02 0x03 0x04\n        const action = parts[4];       // save\n\n        if (action === \"save\") {\n            // 儲存到 global context\n            const memoryKey = `homeassistant/memory/${sceneId}/${operation}`;\n            const memoryData = JSON.parse(msg.payload);\n\n            global.set(memoryKey, memoryData);\n\n            // 發送確認通知\n            let mqtt_queue = global.get(\"mqtt_queue\") || [];\n            mqtt_queue.push({\n                topic: `homeassistant/memory/${sceneId}/${operation}/saved`,\n                payload: JSON.stringify({ status: \"saved\", timestamp: new Date().toISOString() })\n            });\n            global.set(\"mqtt_queue\", mqtt_queue);\n\n            node.warn(`記憶已儲存: ${memoryKey}`);\n        }\n        return null;\n    }\n    case \"scene\": {\n        // 場景執行處理\n        // 主題格式 homeassistant/scene/sceneId/operation/execute/set\n        const sceneId = parts[2];      // 0x02 0x03 0xFF\n        const operation = parts[3];    // 0x01 0x02 0x03 0x04\n        const action = parts[4];       // execute\n\n        if (action !== \"execute\") return null;\n\n        let mqtt_queue = global.get(\"mqtt_queue\") || [];\n\n        // 優先從記憶讀取場景資料\n        const memoryKey = `homeassistant/memory/${sceneId}/${operation}`;\n        const memoryData = global.get(memoryKey);\n\n        if (memoryData && memoryData.devices) {\n            // 使用記憶資料執行場景\n            node.warn(`執行記憶場景: ${memoryKey}`);\n\n            // 從 memoryData 解析並發送到 mqtt_queue\n            // 這裡需要根據儲存的格式來解析\n            // 假設 memoryData.devices 是設備列表\n            for (const deviceTopic of memoryData.devices) {\n                // 發送場景觸發到各設備\n                mqtt_queue.push({\n                    topic: `${deviceTopic}/set`,\n                    payload: \"ON\"\n                });\n            }\n        } else {\n            // 使用預設場景配置\n            node.warn(`執行預設場景: ${sceneId}/${operation}`);\n\n            // 場景預設配置 根據場景表格設定\n            const SCENE_DEFAULT = {\n                // 會議室場景 群組2\n                \"0x02\": {\n                    \"0x01\": [  // 會議室ON 60% - 先設定亮度再開燈\n                        { topic: \"homeassistant/light/single/13/1/set/brightness\", payload: 60 },\n                        { topic: \"homeassistant/light/single/13/2/set/brightness\", payload: 60 },\n                        { topic: \"homeassistant/light/single/13/3/set/brightness\", payload: 60 },\n                        { topic: \"homeassistant/light/dual/14/a/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/dual/14/b/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/single/13/1/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/13/2/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/13/3/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/dual/14/a/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/dual/14/b/set\", payload: \"ON\" }\n                    ],\n                    \"0x02\": [  // 會議室OFF 0%\n                        { topic: \"homeassistant/light/single/13/1/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/13/2/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/13/3/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/dual/14/a/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/dual/14/b/set\", payload: \"OFF\" }\n                    ],\n                    \"0x03\": [  // 會議室場景1 100%\n                        { topic: \"homeassistant/light/single/13/1/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/13/1/set/brightness\", payload: 100 },\n                        { topic: \"homeassistant/light/single/13/2/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/13/2/set/brightness\", payload: 100 },\n                        { topic: \"homeassistant/light/single/13/3/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/13/3/set/brightness\", payload: 100 },\n                        { topic: \"homeassistant/light/dual/14/a/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/dual/14/a/set/brightness\", payload: 100 },\n                        { topic: \"homeassistant/light/dual/14/b/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/dual/14/b/set/brightness\", payload: 100 }\n                    ],\n                    \"0x04\": [  // 會議室場景2 混合\n                        { topic: \"homeassistant/light/single/13/1/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/13/2/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/13/3/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/13/3/set/brightness\", payload: 10 },\n                        { topic: \"homeassistant/light/dual/14/a/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/dual/14/a/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/dual/14/a/set/colortemp\", payload: 333 },  // percentToColortemp(0) = 最暖色 333 mired\n                        { topic: \"homeassistant/light/dual/14/b/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/dual/14/b/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/dual/14/b/set/colortemp\", payload: 333 }   // percentToColortemp(0) = 最暖色 333 mired\n                    ]\n                },\n                // 公共區場景 群組3\n                \"0x03\": {\n                    \"0x01\": [  // 公共區ON 50%\n                        { topic: \"homeassistant/light/single/11/1/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/11/1/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/single/12/1/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/12/1/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/single/12/2/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/12/2/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/single/12/3/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/12/3/set/brightness\", payload: 50 }\n                    ],\n                    \"0x02\": [  // 公共區OFF 0%\n                        { topic: \"homeassistant/light/single/11/1/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/12/1/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/12/2/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/12/3/set\", payload: \"OFF\" }\n                    ]\n                },\n                // 戶外燈場景 群組4\n                \"0x04\": {\n                    \"0x01\": [  // 戶外燈ON 50%\n                        { topic: \"homeassistant/light/single/18/1/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/18/1/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/single/18/2/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/18/2/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/single/19/1/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/19/1/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/single/19/2/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/19/2/set/brightness\", payload: 50 }\n                    ],\n                    \"0x02\": [  // 戶外燈OFF 0%\n                        { topic: \"homeassistant/light/single/18/1/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/18/2/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/19/1/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/19/2/set\", payload: \"OFF\" }\n                    ]\n                },\n                // 客廳後等多場景 群組5\n                \"0x05\": {\n                    \"0x01\": [  // 全開 50%\n                        { topic: \"homeassistant/light/single/18/1/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/18/1/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/single/18/2/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/18/2/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/single/19/1/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/19/1/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/single/19/2/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/19/2/set/brightness\", payload: 50 }\n                    ],\n                    \"0x02\": [  // 全關 0%\n                        { topic: \"homeassistant/light/single/18/1/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/18/2/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/19/1/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/19/2/set\", payload: \"OFF\" }\n                    ]\n                },\n                // 全部場景 群組255\n                \"0xFF\": {\n                    \"0x01\": [  // 全開 各區預設亮度\n                        { topic: \"homeassistant/light/single/11/1/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/11/1/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/single/12/1/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/12/1/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/single/12/2/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/12/2/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/single/12/3/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/12/3/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/single/13/1/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/13/1/set/brightness\", payload: 60 },\n                        { topic: \"homeassistant/light/single/13/2/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/13/2/set/brightness\", payload: 60 },\n                        { topic: \"homeassistant/light/single/13/3/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/single/13/3/set/brightness\", payload: 60 },\n                        { topic: \"homeassistant/light/dual/14/a/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/dual/14/a/set/brightness\", payload: 50 },\n                        { topic: \"homeassistant/light/dual/14/b/set\", payload: \"ON\" },\n                        { topic: \"homeassistant/light/dual/14/b/set/brightness\", payload: 50 }\n                    ],\n                    \"0x02\": [  // 全關\n                        { topic: \"homeassistant/light/single/11/1/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/12/1/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/12/2/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/12/3/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/13/1/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/13/2/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/single/13/3/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/dual/14/a/set\", payload: \"OFF\" },\n                        { topic: \"homeassistant/light/dual/14/b/set\", payload: \"OFF\" }\n                    ]\n                }\n            };\n\n            const commands = SCENE_DEFAULT[sceneId]?.[operation];\n            if (commands) {\n                for (const cmd of commands) {\n                    mqtt_queue.push(cmd);\n                }\n            }\n        }\n\n        global.set(\"mqtt_queue\", mqtt_queue);\n        return null;\n    }\n    case \"query\": {\n        const subType = parts[2];      // light cover\n        const moduleId = parseInt(parts[3]);  // 模組 ID\n        const channel = parts[4];      // 通道 ID\n\n        node.warn(`received query topic: ${msg.topic}`);\n        let frame;\n        switch (subType) {\n            case \"light\": {\n                node.warn(`query light: ${msg.topic}`);\n                // light 讀取線圈或亮度狀態\n                const CHANNEL_COIL_MAP = { \"1\": 0x0000, \"2\": 0x0001, \"3\": 0x0002, \"4\": 0x0003 };\n                const addr = CHANNEL_COIL_MAP[channel];\n                node.warn(`channel: ${channel}, addr: ${addr}`);\n                if (addr === undefined) return null;\n\n                const functionCode = 0x01; // Read Coils\n                const quantity = 4;\n                const startHi = (addr >> 8) & 0xFF;\n                const startLo = addr & 0xFF;\n                const quantityHi = (quantity >> 8) & 0xFF;\n                const quantityLo = quantity & 0xFF;\n\n                frame = Buffer.from([moduleId, functionCode, startHi, startLo, quantityHi, quantityLo]);\n                node.warn(`frame: ${[moduleId, functionCode, startHi, startLo, quantityHi, quantityLo]}`);\n                node.warn(`frame:${frame.toString('hex')}`);\n                break;\n            }\n            case \"cover\": {\n                // cover 讀取狀態\n                const regHi = 0x01; // 起始寄存器\n                const regLo = 0x9B;\n                const functionCode = 0x03; // Read Holding Registers\n                const quantityHi = 0x00;\n                const quantityLo = 0x02; // 讀兩個暫存\n                frame = Buffer.from([moduleId, functionCode, regHi, regLo, quantityHi, quantityLo]);\n                break;\n            }\n            default: {\n                node.warn(`unknown query subtype: ${subType}`);\n                return null;\n            }\n        }\n        const cmdBuffer = generalCommandBuild(frame);\n\n\n        // 放入 modbus_queue 統一管理發送\n        let modbus_queue = global.get(\"modbus_queue\") || [];\n        modbus_queue.push({ payload: cmdBuffer, deviceID: moduleId, type: \"query\", deviceType: \"query\", subType, channel });\n        global.set(\"modbus_queue\", modbus_queue);\n\n        node.status({ fill: \"blue\", shape: \"dot\", text: `modbus queue length ${modbus_queue.length}` });\n        // 發送觸發訊息給 modbus_queue_processor\n        node.send([null, { topic: \"trigger_modbus_queue\", payload: \"process\" }]);\n        return null;\n    }\n    default: {\n        node.warn(`unknown device type: ${deviceType}`);\n        return null;\n    }\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":580,"wires":[["c3ae9d12a323889e"]]},{"id":"6f2dc9d836257d53","type":"function","z":"e345e003a053a625","g":"159267e74267d50b","name":"Mqtt Queue","func":"let queue = global.get(\"mqtt_queue\") || [];\n\nif (queue.length > 0) {\n    function sendNext() {\n        // 重新從 global 取最新 queue（避免同步問題）\n        let q = global.get(\"mqtt_queue\") || [];\n        if (q.length > 0) {\n            // 取出第一筆\n            const msgToSend = q.shift();\n            // 更新 global（移除剛發送的那筆）\n            global.set(\"mqtt_queue\", q);\n            node.status({ fill: \"green\", shape: \"dot\", text: `queue ${q.length} left` });\n            // 發送\n            node.send(msgToSend);\n            setTimeout(sendNext, 1000);  // ← 改這裡：從 1ms 改為 50ms\n        } else {\n            // 全部送完\n            node.status({ fill: \"green\", shape: \"dot\", text: \"queue empty\" });\n        }\n    }\n    sendNext(); // 啟動發送\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"// 部署節點後，此處添加的代碼將運行一次。 \nglobal.set(\"mqtt_queue\", []);","finalize":"","libs":[],"x":590,"y":720,"wires":[["ea792b0bb24e604b"]]},{"id":"ea792b0bb24e604b","type":"mqtt out","z":"e345e003a053a625","g":"159267e74267d50b","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"751ec40a6956d4f9","x":750,"y":720,"wires":[]},{"id":"a4b805ba9ce0910c","type":"group","z":"e345e003a053a625","g":"159267e74267d50b","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7f0f76e9587d1e96","ad1e0609ce972172","14f92ef7b47be8e6","89a3363fcb50863e","3a9c3b45ed954d18","30917378599d3f88","4ea10bf6af01ea34","b3f4635713aa8532"],"x":114,"y":839,"w":692,"h":209.5},{"id":"7f0f76e9587d1e96","type":"tcp in","z":"e345e003a053a625","g":"a4b805ba9ce0910c","name":"","server":"client","host":"192.168.1.208","port":"502","datamode":"stream","datatype":"buffer","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":240,"y":880,"wires":[["3a9c3b45ed954d18"]]},{"id":"ad1e0609ce972172","type":"function","z":"e345e003a053a625","g":"a4b805ba9ce0910c","name":"feedback","func":"let buf = msg.payload;\n/*============================================crc=======================================================*/\n// CRC 校驗\nfunction calculateCRC(buffer) {\n    let crc = 0xFFFF;\n    for (let pos = 0; pos < buffer.length - 2; pos++) {\n        crc ^= buffer.readUInt8(pos);\n        for (let i = 8; i !== 0; i--) {\n            if ((crc & 0x0001) !== 0) {\n                crc >>= 1;\n                crc ^= 0xA001;\n            } else {\n                crc >>= 1;\n            }\n        }\n    }\n    return crc;\n}\n\nfunction isValidCRC(buffer) {\n    let receivedCRC = (buffer.readUInt8(buffer.length - 1) << 8) | buffer.readUInt8(buffer.length - 2);\n    let calculatedCRC = calculateCRC(buffer);\n    return receivedCRC === calculatedCRC;\n}\n\n// 僅當長度正確且CRC校驗成功時返回消息\n// node.warn(`crc ${isValidCRC(buf) ? \"pass\" : \"failed\"}`);\n/*========================================================================================================*/\n\nlet length = buf.length;\n\n// node.warn(`raw bytes: `);\n// node.warn({raw: buf});\n// node.warn(`BE: ${buf.readInt16BE(2)}, LE: ${buf.readInt16LE(2)}`);\n\n\nswitch (buf[1]) {\n    case 0x03: {\n        switch (buf.readInt16BE(2)) {\n            case 2090:\n            case 2091:\n            case 2092:\n            case 2093:\n            case 2094: {\n                let id = buf.readInt8(0);\n                let value = buf.readInt8(5);\n                if (value) {\n                    msg.payload = `ON`;\n                }\n                else {\n                    msg.payload = `OFF`;\n                }\n                let channel = buf.readInt16BE(2) - 2090\n                msg.topic = `homeassistant/light/single/${id}/${channel}/brightness`;\n                // node.warn(`單色溫調光 send: ${msg.topic}`);\n                // node.warn({ raw: msg.topic });\n                return null;\n            }\n            default: {\n                // node.warn(`unknown usage: ${buf.readInt16BE(2)}`)\n            }\n        }\n        break;\n    }\n    default: {\n        // node.warn(`Unknown function code: ${buf[1]}`);\n    }\n}\n\n// for (let i =0; i<buf.length;i++) {\n//     node.warn(`${buf[i]}`)\n// }\n\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":880,"wires":[["4ea10bf6af01ea34"]]},{"id":"14f92ef7b47be8e6","type":"function","z":"e345e003a053a625","g":"a4b805ba9ce0910c","name":"feedback_hvac","func":"let buf = msg.payload; // 假設 buf 是包含所需數據的緩衝區\n\n// 確保緩衝區長度正確\nif (buf.length !== 17) {\n    return null;\n}\n\n// 讀取 8 位元和 16 位元數據\nlet s200_id = buf.readUInt8(0);\nlet fc = buf.readUInt8(1);\nlet len = buf.readUInt8(2);\n\nlet power_state = buf.readUInt16BE(3);\nlet mode_state = buf.readUInt16BE(5);\nlet fan_mode_state = buf.readUInt16BE(7);\nlet temperature_state = buf.readUInt16BE(9);\nlet current_temperature_state = buf.readUInt16BE(11);\n\nlet hvac_id = buf.readUInt8(14) / 8;\n\nlet crc16_lo = buf.readUInt8(15);\nlet crc16_hi = buf.readUInt8(16);\n\n// CRC 校驗\nfunction calculateCRC(buffer) {\n    let crc = 0xFFFF;\n    for (let pos = 0; pos < buffer.length - 2; pos++) {\n        crc ^= buffer.readUInt8(pos);\n        for (let i = 8; i !== 0; i--) {\n            if ((crc & 0x0001) !== 0) {\n                crc >>= 1;\n                crc ^= 0xA001;\n            } else {\n                crc >>= 1;\n            }\n        }\n    }\n    return crc;\n}\n\nfunction isValidCRC(buffer) {\n    let receivedCRC = (buffer.readUInt8(buffer.length - 1) << 8) | buffer.readUInt8(buffer.length - 2);\n    let calculatedCRC = calculateCRC(buffer);\n    return receivedCRC === calculatedCRC;\n}\n\n// 僅當長度正確且CRC校驗成功時返回消息\nif (!isValidCRC(buf)) {\n    return null;\n}\n\n// 對應數字和字符串的映射\nconst modeMap = {\n    0: \"cool\",\n    1: \"heat\",\n    2: \"dry\",\n    3: \"fan_only\",\n    4: \"off\"\n};\n\nconst fanModeMap = {\n    0: \"auto\",\n    1: \"low\",\n    2: \"medium\",\n    3: \"high\"\n};\n\n// 當 power_state 為 0 時，將 mode_state 設為 \"off\"\nlet mode_state_str = (power_state === 0) ? \"off\" : modeMap[mode_state];\nlet fan_mode_state_str = fanModeMap[fan_mode_state];\n\n// 返回對應的MQTT消息\n\nnode.send({ payload: mode_state_str, topic: `homeassistant/hvac/200/${hvac_id}/mode/state` });\nnode.send({ payload: fan_mode_state_str, topic: `homeassistant/hvac/200/${hvac_id}/fan_mode/state` });\nnode.send({ payload: temperature_state, topic: `homeassistant/hvac/200/${hvac_id}/temperature/state` });\nnode.send({ payload: current_temperature_state, topic: `homeassistant/hvac/200/${hvac_id}/current_temperature` });\nreturn;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":920,"wires":[["4ea10bf6af01ea34"]]},{"id":"89a3363fcb50863e","type":"tcp in","z":"e345e003a053a625","g":"a4b805ba9ce0910c","name":"","server":"client","host":"192.168.1.204","port":"502","datamode":"stream","datatype":"buffer","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":240,"y":940,"wires":[["3a9c3b45ed954d18"]]},{"id":"3a9c3b45ed954d18","type":"junction","z":"e345e003a053a625","g":"a4b805ba9ce0910c","x":380,"y":920,"wires":[["ad1e0609ce972172","14f92ef7b47be8e6","b3f4635713aa8532"]]},{"id":"30917378599d3f88","type":"function","z":"e345e003a053a625","g":"a4b805ba9ce0910c","name":"feedback_dimmer","func":"let buf = msg.payload; // 假設 buf 是包含所需數據的緩衝區\n\n// 確保緩衝區長度正確\nif (buf.length !== 21) {\n    return null;\n}\n\n// 讀取 8 位元和 16 位元數據\nlet id = buf.readUInt8(0);\nlet fc = buf.readUInt8(1);\nlet len = buf.readUInt8(2);\n\nlet ch1_brt = Math.floor(buf.readUInt16BE(3) / 10); // 將 ch1_brt 除以 10 取整數\nlet ch2_brt = Math.floor(buf.readUInt16BE(5) / 10); // 將 ch2_brt 除以 10 取整數\nlet ch3_brt = Math.floor(buf.readUInt16BE(7) / 10); // 將 ch3_brt 除以 10 取整數\nlet ch4_brt = Math.floor(buf.readUInt16BE(9) / 10); // 將 ch4_brt 除以 10 取整數\n\nlet ch1_state = buf.readUInt16BE(11);\nlet ch2_state = buf.readUInt16BE(13);\nlet ch3_state = buf.readUInt16BE(15);\nlet ch4_state = buf.readUInt16BE(17);\n\nlet crc16_lo = buf.readUInt8(19);\nlet crc16_hi = buf.readUInt8(20);\n\n// CRC 校驗\nfunction calculateCRC(buffer) {\n    let crc = 0xFFFF;\n    for (let pos = 0; pos < buffer.length - 2; pos++) {\n        crc ^= buffer.readUInt8(pos);\n        for (let i = 8; i !== 0; i--) {\n            if ((crc & 0x0001) !== 0) {\n                crc >>= 1;\n                crc ^= 0xA001;\n            } else {\n                crc >>= 1;\n            }\n        }\n    }\n    return crc;\n}\n\nfunction isValidCRC(buffer) {\n    let receivedCRC = (buffer.readUInt8(buffer.length - 1) << 8) | buffer.readUInt8(buffer.length - 2);\n    let calculatedCRC = calculateCRC(buffer);\n    return receivedCRC === calculatedCRC;\n}\n\nif (!isValidCRC(buf)) {\n    return null;\n}\n\n// 處理狀態和亮度的函數\nfunction processChannel(id, ch_brt, ch_state, channel) {\n    if (ch_state === 0) {\n        return [\n            { payload: \"OFF\", topic: `homeassistant/light/p404/${id}/${channel}/status` }\n        ];\n    }\n\n    if (ch_state === 1 && ch_brt !== 0) {\n        node.send({ payload: ch_brt, topic: `homeassistant/light/p404/${id}/${channel}/brightness` });\n        node.send({ payload: ch_brt, topic: `homeassistant/light/p404/${id}/${channel}/set/brightness` });\n        node.send({ payload: \"ON\", topic: `homeassistant/light/p404/${id}/${channel}/status` });\n        return;\n    }\n\n    return;\n}\n\nprocessChannel(id, ch1_brt, ch1_state, 1);\nprocessChannel(id, ch2_brt, ch2_state, 2);\nprocessChannel(id, ch3_brt, ch3_state, 3);\nprocessChannel(id, ch4_brt, ch4_state, 4);\nreturn;","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":1000,"wires":[[],[],[]]},{"id":"4ea10bf6af01ea34","type":"mqtt out","z":"e345e003a053a625","g":"a4b805ba9ce0910c","name":"feedback","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"751ec40a6956d4f9","x":720,"y":920,"wires":[]},{"id":"b3f4635713aa8532","type":"function","z":"e345e003a053a625","g":"a4b805ba9ce0910c","name":"HMI processor","func":"const MIN_MIRED = 167, MAX_MIRED = 333;\n\n// 場景記憶功能說明\n//\n// 記憶指令格式 FE 06 08 20 OP SCENE CRC_L CRC_H\n// 操作碼 OP\n//   0x81 記憶ON狀態\n//   0x82 記憶OFF狀態\n//   0x83 記憶場景1\n//   0x84 記憶場景2\n//\n// 場景 SCENE\n//   0x02 會議室\n//   0x03 公共區\n//   0xFF 全部\n//\n// MQTT 記憶主題架構\n//   儲存 homeassistant/scene/memory/sceneId/operation/save\n//   讀取 homeassistant/scene/memory/sceneId/operation/data\n//\n// 範例\n//   全開記憶   FE 06 08 20 81 FF BE 7F 轉為 homeassistant/scene/memory/0xFF/0x01/save\n//   會議室ON   FE 06 08 20 81 02 7F FE 轉為 homeassistant/scene/memory/0x02/0x01/save\n//   公共區場景1 FE 06 08 20 83 03 7E XX 轉為 homeassistant/scene/memory/0x03/0x03/save\n\nconst HMI_project = [\n]\n\n// 動態 pattern 可解析變數值\nconst HMI_pattern = [\n    // 測試指令 將測試指令轉換為實際場景指令\n    {\n        name: \"test_command\",\n        pattern: [0xfe, 0x06, 0x08, 0x20, null, 0x04, null, null],\n        parse: (input) => {\n            const operation = input[4];  // 0x01 或 0x02\n\n            // 將測試指令轉換為會議室場景指令\n            // 0x01 測試按鈕1 轉為會議室ON 0x02\n            // 0x02 測試按鈕2 轉為會議室OFF 0x02\n            const sceneKey = \"0x02\";  // 會議室\n            const opKey = `0x${operation.toString(16).padStart(2, '0').toUpperCase()}`;\n\n            node.warn(`測試指令觸發: operation=${opKey}, 轉發至會議室場景 (開/關)`);\n\n            return [{\n                topic: `homeassistant/scene/${sceneKey}/${opKey}/execute/set`,\n                payload: \"ON\"\n            }];\n        }\n    },\n    // 窗簾控制 動態解析\n    {\n        name: \"curtain_control\",\n        pattern: [null, 0x06, 0x01, 0x9b, 0x00, null, null, null],\n        parse: (input) => {\n            const curtainId = input[0];  // 0x15 鐵捲門 0x16 會議室捲簾 0x17 布簾 紗簾 排煙窗\n            const action = input[5];     // 窗簾動作指令碼\n\n            const CURTAIN_MAP = {\n                0x15: { topic: \"homeassistant/cover/curtain/21/ocs/set\", type: \"ocs\" },  // 鐵捲門 三態控制\n                0x16: { topic: \"homeassistant/cover/curtain/22/oc/set\", type: \"oc\" },    // 會議室捲簾 雙態控制\n                0x17: { topic: \"homeassistant/cover/curtain/23\", type: \"multi\" }         // 布簾 紗簾 排煙窗 多重控制\n            };\n\n            const config = CURTAIN_MAP[curtainId];\n            if (!config) return null;\n\n            let payload, topicSuffix;\n\n            if (config.type === \"ocs\") {\n                // 鐵捲門 三態控制 開啟 停 關閉\n                const ACTION_MAP_OCS = {\n                    0x01: \"1/2-3\",  // 開啟\n                    0x04: \"2/1-3\",  // 停\n                    0x02: \"3/1-2\"   // 關閉\n                };\n                payload = ACTION_MAP_OCS[action];\n                topicSuffix = \"/set\";\n            } else if (config.type === \"oc\") {\n                // 會議室捲簾 雙態控制 開啟 關閉 停\n                const ACTION_MAP_OC = {\n                    0x01: \"1/2\",    // 開啟\n                    0x02: \"2/1\",    // 關閉\n                    0x03: \"1-2/\"    // 停\n                };\n                payload = ACTION_MAP_OC[action];\n                topicSuffix = \"/set\";\n            } else if (config.type === \"multi\") {\n                // 布簾 紗簾 排煙窗 多重控制\n                const ACTION_MAP_MULTI = {\n                    // 布簾 開啟 停 關閉\n                    0x01: { suffix: \"/oc/set\", payload: \"1/2\" },\n                    0x03: { suffix: \"/oc/set\", payload: \"1_2/\" },\n                    0x02: { suffix: \"/oc/set\", payload: \"2/1\" },\n                    // 紗簾 開啟 停 關閉\n                    0x04: { suffix: \"/oc/set\", payload: \"3/4\" },\n                    0x0C: { suffix: \"/oc/set\", payload: \"3_4/\" },\n                    0x08: { suffix: \"/oc/set\", payload: \"4/3\" },\n                    // 排煙窗 開啟 停 關閉\n                    0x10: { suffix: \"/ocs/set\", payload: \"5/6_7\" },\n                    0x40: { suffix: \"/ocs/set\", payload: \"7/5_6\" },\n                    0x20: { suffix: \"/ocs/set\", payload: \"6/5_7\" }\n                };\n                const actionConfig = ACTION_MAP_MULTI[action];\n                if (!actionConfig) return null;\n                topicSuffix = actionConfig.suffix;\n                payload = actionConfig.payload;\n            }\n\n            if (!payload) return null;\n\n            return [{ topic: config.topic + topicSuffix, payload: payload }];\n        }\n    },\n    // 場景記憶指令 儲存當前燈光狀態\n    {\n        name: \"scene_memory\",\n        pattern: [0xfe, 0x06, 0x08, 0x20, null, null, null, null],\n        parse: (input) => {\n            const operation = input[4];  // 0x81 記憶ON 0x82 記憶OFF 0x83 記憶場景1 0x84 記憶場景2\n            const sceneId = input[5];    // 0x02 會議室 0x03 公共區 0xff 全部\n\n            // 只處理記憶指令 0x81 到 0x84 其他操作碼交給 scene_control 處理\n            if (operation < 0x81 || operation > 0x84) {\n                return null;\n            }\n\n            const SCENE_MEMORY_MAP = {\n                \"0x02\": {\n                    name: \"會議室\", devices: [\n                        \"homeassistant/light/single/13/1\",\n                        \"homeassistant/light/single/13/2\",\n                        \"homeassistant/light/single/13/3\",\n                        \"homeassistant/light/dual/14/a\",\n                        \"homeassistant/light/dual/14/b\"\n                    ]\n                },\n                \"0x03\": {\n                    name: \"公共區\", devices: [\n                        \"homeassistant/light/single/11/1\",\n                        \"homeassistant/light/single/12/1\",\n                        \"homeassistant/light/single/12/2\",\n                        \"homeassistant/light/single/12/3\"\n                    ]\n                },\n                \"0xff\": {\n                    name: \"全部\", devices: [\n                        \"homeassistant/light/single/11/1\",\n                        \"homeassistant/light/single/12/1\",\n                        \"homeassistant/light/single/12/2\",\n                        \"homeassistant/light/single/12/3\",\n                        \"homeassistant/light/single/13/1\",\n                        \"homeassistant/light/single/13/2\",\n                        \"homeassistant/light/single/13/3\",\n                        \"homeassistant/light/dual/14/a\",\n                        \"homeassistant/light/dual/14/b\"\n                    ]\n                }\n            };\n\n            const sceneKey = `0x${sceneId.toString(16).toUpperCase()}`;\n            const opKey = `0x${(operation - 0x80).toString(16).padStart(2, '0').toUpperCase()}`; // 0x81 轉 0x01 0x82 轉 0x02\n            const sceneInfo = SCENE_MEMORY_MAP[sceneKey];\n\n            if (!sceneInfo) return null;\n\n            // 發送記憶儲存請求到 MQTT 主題\n            // 格式 homeassistant/memory/sceneId/operation/save/set\n            // 實際儲存處理由 general command 的 global.set 完成\n            const memoryTopic = `homeassistant/memory/${sceneKey}/${opKey}/save/set`;\n\n            return [{\n                topic: memoryTopic,\n                payload: JSON.stringify({\n                    scene_name: `${sceneInfo.name}_${opKey === '0x01' ? 'ON' : opKey === '0x02' ? 'OFF' : opKey === '0x03' ? '場景1' : '場景2'}`,\n                    devices: sceneInfo.devices,\n                    timestamp: new Date().toISOString(),\n                    command: bufferToHexArray(input)\n                })\n            }];\n        }\n    },\n    // 場景控制 動態解析\n    {\n        name: \"scene_control\",\n        pattern: [0xfe, 0x06, 0x08, 0x20, null, null, null, null],\n        parse: (input) => {\n            const operation = input[4];  // 0x01 ON 0x02 OFF 0x03 場景1 0x04 場景2\n            const sceneId = input[5];    // 0x02 會議室 0x03 公共區 0xff 全部\n\n            // 記憶指令 0x81 到 0x84 由 scene_memory 處理\n            if (operation >= 0x81 && operation <= 0x84) {\n                return null;\n            }\n\n            // 轉換為 MQTT 主題 實際場景執行由 general_command 處理\n            const sceneKey = `0x${sceneId.toString(16).toUpperCase()}`;\n            const opKey = `0x${operation.toString(16).padStart(2, '0').toUpperCase()}`;\n\n            return [{\n                topic: `homeassistant/scene/${sceneKey}/${opKey}/execute/set`,\n                payload: \"ON\"\n            }];\n        }\n    },\n    {\n        name: \"light_control_unified\",\n        pattern: [\n            0xEE, 0xB1, 0x11, 0x00,\n            null,       // byte 4 場景ID 0x1E 公共區 0x1F 會議室 0x20 會議室2\n            0x00,\n            null,       // byte 6 功能ID 0x0B 0x0D 0x0F 0x11\n            0x13, 0x00, 0x00,\n            null, null, // bytes 10-11 數值 0x0000 到 0x03E8\n            0xFF, 0xFC, 0xFF, 0xFF\n        ],\n        parse: (input) => {\n            const sceneId = input[4];    // 場景ID\n            const functionId = input[6]; // 功能ID\n            const valueHigh = input[10];\n            const valueLow = input[11];\n            const raw = (valueHigh << 8) + valueLow;\n\n            // 轉換數值 0 到 1000 對應 0 到 100\n            let value = Math.round((raw / 1000) * 100);\n            value = clamp(value, 0, 100);\n            let state = value > 0 ? \"ON\" : \"OFF\";\n\n            // 場景與功能映射表\n            const LIGHT_MAP = {\n                // 公共區 0x1E\n                \"0x1E-0x0B\": { topic: \"homeassistant/light/scene/single/11-1--11-2\", type: \"brightness\" },\n                \"0x1E-0x0D\": { topic: \"homeassistant/light/scene/single/12-1\", type: \"brightness\" },\n                \"0x1E-0x0F\": { topic: \"homeassistant/light/scene/single/12-2\", type: \"brightness\" },\n                \"0x1E-0x11\": { topic: \"homeassistant/light/scene/single/12-3--12-4\", type: \"brightness\" },\n\n                // 會議室 0x1F\n                \"0x1F-0x0B\": { topic: \"homeassistant/light/scene/single/14/a\", type: \"brightness\" },\n                \"0x1F-0x0D\": { topic: \"homeassistant/light/scene/single/14/a\", type: \"colortemp\" },\n                \"0x1F-0x0F\": { topic: \"homeassistant/light/scene/single/14/b\", type: \"brightness\" },\n                \"0x1F-0x11\": { topic: \"homeassistant/light/scene/single/14/b\", type: \"colortemp\" },\n\n                // 會議室2 0x20\n                \"0x20-0x0B\": { topic: \"homeassistant/light/scene/single/14/a\", type: \"brightness\" },\n                \"0x20-0x0D\": { topic: \"homeassistant/light/scene/single/14/a\", type: \"colortemp\" },\n                \"0x20-0x0F\": { topic: \"homeassistant/light/scene/single/14/b\", type: \"brightness\" },\n                \"0x20-0x11\": { topic: \"homeassistant/light/scene/single/14/b\", type: \"colortemp\" },\n            };\n\n            const key = `0x${sceneId.toString(16).toUpperCase()}-0x${functionId.toString(16).toUpperCase()}`;\n            const config = LIGHT_MAP[key];\n\n            if (!config) return null;\n\n            const baseTopic = config.topic;\n            const controlType = config.type;\n\n            if (controlType === \"brightness\") {\n                return [\n                    { topic: `${baseTopic}/set`, payload: state },\n                    { topic: `${baseTopic}/set/brightness`, payload: value },\n                    { topic: `${baseTopic}/state`, payload: state },\n                    { topic: `${baseTopic}/brightness`, payload: value }\n                ];\n            } else if (controlType === \"colortemp\") {\n                // 色溫控制\n                const colortemp = percentToColortemp(value);\n                return [\n                    { topic: `${baseTopic}/set`, payload: state },\n                    { topic: `${baseTopic}/set/colortemp`, payload: colortemp },\n                    { topic: `${baseTopic}/state`, payload: state },\n                    { topic: `${baseTopic}/colortemp`, payload: colortemp }\n                ];\n            }\n\n            return null;\n        }\n    },\n    // 空調系統 動態解析\n    {\n        name: \"hvac_power_mode\",\n        pattern: [0x01, 0x31, null, 0x01, 0x01, null], // 開關\n        parse: (input) => {\n            const powerValue = input[2]; // 0 關 1 開\n            const hvacId = input[5];     // 空調ID 1 2 3\n            const mode = powerValue === 0x01 ? \"auto\" : \"off\";\n            return [{ topic: `homeassistant/hvac/200/${hvacId}/mode/set`, payload: mode }];\n        }\n    },\n    {\n        name: \"hvac_temperature\",\n        pattern: [0x01, 0x32, null, 0x01, 0x01, null], // 溫度\n        parse: (input) => {\n            const tempValue = input[2];  // HEX 值直接等於溫度\n            const hvacId = input[5];\n            return [{ topic: `homeassistant/hvac/200/${hvacId}/temperature/set`, payload: String(tempValue) }];\n        }\n    },\n    {\n        name: \"hvac_mode\",\n        pattern: [0x01, 0x33, null, 0x01, 0x01, null], // 模式 冷暖除濕送風\n        parse: (input) => {\n            const modeValue = input[2];\n            const hvacId = input[5];\n            const MODE_MAP = {\n                0x00: \"cool\",      // 冷氣\n                0x01: \"dry\",       // 除濕\n                0x02: \"fan_only\",  // 送風\n                0x04: \"heat\"       // 暖氣\n            };\n            const mode = MODE_MAP[modeValue];\n            if (!mode) return null;\n            return [{ topic: `homeassistant/hvac/200/${hvacId}/mode/set`, payload: mode }];\n        }\n    },\n    {\n        name: \"hvac_fan_speed\",\n        pattern: [0x01, 0x34, null, 0x01, 0x01, null], // 風量\n        parse: (input) => {\n            const fanValue = input[2];\n            const hvacId = input[5];\n            const FAN_MAP = {\n                0x03: \"medium\",  // 中\n                0x04: \"high\",    // 強 或自動 需根據空調ID判斷\n                0x07: \"low\"      // 弱\n            };\n            const fan = FAN_MAP[fanValue];\n            if (!fan) return null;\n\n            // 空調1 用 fan/set 空調2 和3 用 mode/fan\n            const topicSuffix = hvacId === 1 ? \"fan/set\" : \"mode/fan\";\n            return [{ topic: `homeassistant/hvac/200/${hvacId}/${topicSuffix}`, payload: fan }];\n        }\n    }\n];\n\nfunction clamp(value, min, max) {\n    return value < min ? min : value > max ? max : value;\n}\n\nfunction percentToColortemp(percent, minMired = MIN_MIRED, maxMired = MAX_MIRED) {\n    percent = clamp(Math.round(percent), 0, 100);\n    return Math.round(maxMired - ((maxMired - minMired) * percent / 100));\n}\n\nfunction bufferToHexArray(buf) {\n    return [...buf].map(v => \"0x\" + v.toString(16).padStart(2, \"0\"));\n}\n\n// 場景 MQTT 指令生成輔助函數\nfunction genLight(base, state, brightness = null, colortemp = null) {\n    const cmds = [\n        { topic: `${base}/set`, payload: state },\n        { topic: `${base}/state`, payload: state }\n    ];\n    if (state === \"ON\" && brightness !== null) {\n        cmds.push(\n            { topic: `${base}/set/brightness`, payload: brightness },\n            { topic: `${base}/brightness`, payload: brightness }\n        );\n    }\n    if (state === \"ON\" && colortemp !== null) {\n        cmds.push(\n            { topic: `${base}/set/colortemp`, payload: colortemp },\n            { topic: `${base}/colortemp`, payload: colortemp }\n        );\n    }\n    return cmds;\n}\n\nconst SCENE_MAP = {\n    0x0B: \"homeassistant/light/scene/single/11-1--11-2\",\n    0x0D: \"homeassistant/light/scene/single/13-1--13-2\",\n    0x0F: \"homeassistant/light/scene/single/15-1--15-2\",\n    0x11: \"homeassistant/light/scene/single/17-1--17-2\"\n};\n\nfunction matchPattern(input, pattern) {\n    if (input.length !== pattern.length) return false;\n\n    for (let i = 0; i < pattern.length; i++) {\n        if (pattern[i] !== null && pattern[i] !== input[i]) {\n            return false;\n        }\n    }\n    return true;\n}\n\n\nfunction arrayEqual(a, b) {\n    if (!a || !b) return false;\n    if (a.length !== b.length) return false;\n    return a.every((v, i) => v === b[i]);\n}\n\n// 主程式邏輯\n// 錯誤處理 檢查 payload 是否存在\nif (!msg.payload || !Buffer.isBuffer(msg.payload)) {\n    node.warn(\"收到無效的 payload，必須是 Buffer\");\n    return msg;\n}\n\nlet input = Array.from(msg.payload);\nlet result = null;\n\n// 步驟1 完全比對\nfor (const item of HMI_project) {\n    if (arrayEqual(input, item.in)) {\n        result = item.out;\n        break;\n    }\n}\n\n// 步驟2 pattern 比對\nif (!result) {\n    for (const p of HMI_pattern) {\n        if (matchPattern(input, p.pattern)) {\n            result = p.parse(input);\n            break;\n        }\n    }\n}\n\n// 步驟3 推入 queue 避免推入空陣列\nif (result && Array.isArray(result) && result.length > 0) {\n    let mqtt_queue = global.get(\"mqtt_queue\") || [];\n    mqtt_queue.push(...result);\n    global.set(\"mqtt_queue\", mqtt_queue);\n\n    // Debug log\n    node.warn(`收到資料: ${bufferToHexArray(msg.payload)}`);\n    node.warn(`queue 目前共有 ${mqtt_queue.length} 個待送 MQTT 指令`);\n} else if (result && !Array.isArray(result)) {\n    let mqtt_queue = global.get(\"mqtt_queue\") || [];\n    mqtt_queue.push(result);\n    global.set(\"mqtt_queue\", mqtt_queue);\n\n    node.warn(`收到資料: ${bufferToHexArray(msg.payload)}`);\n    node.warn(`queue 目前共有 ${mqtt_queue.length} 個待送 MQTT 指令`);\n} else {\n    node.warn(`收到資料: ${bufferToHexArray(msg.payload)} 未匹配任何規則`);\n}\n\n// 回傳原訊息\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":960,"wires":[["6f2dc9d836257d53"]]},{"id":"fe9ec637490c3e1c","type":"inject","z":"e345e003a053a625","g":"159267e74267d50b","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":800,"wires":[["12268fec3b64a966"]]},{"id":"12268fec3b64a966","type":"function","z":"e345e003a053a625","g":"159267e74267d50b","name":"m","func":"msg.payload = \"\"\nmsg.topic = `homeassistant/query/light/11/1/set`\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":800,"wires":[["b62095d97c28d990"]]},{"id":"b62095d97c28d990","type":"mqtt out","z":"e345e003a053a625","g":"159267e74267d50b","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"751ec40a6956d4f9","x":430,"y":800,"wires":[]},{"id":"583ec01ceab0f2e0","type":"debug","z":"e345e003a053a625","g":"159267e74267d50b","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360,"y":660,"wires":[]},{"id":"c3ae9d12a323889e","type":"function","z":"e345e003a053a625","g":"159267e74267d50b","name":"Modbus Queue","func":"// Modbus Queue Processor\n// 當有訊息進入時，檢查 modbus_queue 並開始處理\n\n// 檢查是否已經有處理程序在運行\nlet isProcessing = global.get(\"modbus_queue_processing\") || false;\n\nif (!isProcessing) {\n    let queue = global.get(\"modbus_queue\") || [];\n    \n    if (queue.length > 0) {\n        // 標記為處理中\n        global.set(\"modbus_queue_processing\", true);\n        \n        function sendNext() {\n            // 重新從 global 取最新 queue（避免同步問題）\n            let q = global.get(\"modbus_queue\") || [];\n            if (q.length > 0) {\n                // 取出第一筆\n                const msgToSend = q.shift();\n                // 更新 global（移除剛發送的那筆）\n                global.set(\"modbus_queue\", q);\n                node.status({ fill: \"green\", shape: \"dot\", text: `modbus queue ${q.length} left` });\n                // 發送\n                node.send(msgToSend);\n                // 設定延遲 50ms 避免 Modbus 設備來不及處理\n                setTimeout(sendNext, 50);  // ← 關鍵：50ms 延遲\n            } else {\n                // 全部送完，清除處理標記\n                global.set(\"modbus_queue_processing\", false);\n                node.status({ fill: \"green\", shape: \"ring\", text: \"modbus queue empty\" });\n            }\n        }\n        sendNext(); // 啟動發送\n    }\n}\n\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"// Modbus Queue Processor - Initialize Script\n// 部署節點後，此處添加的代碼將運行一次\nglobal.set(\"modbus_queue\", []);\n","finalize":"","libs":[],"x":700,"y":660,"wires":[["4d0a7d5c8f674b96"]]},{"id":"83e5e0d8765d1ea3","type":"group","z":"e345e003a053a625","g":"159267e74267d50b","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a477bdbb917e6bcd","a58c90ba5423a13c","3a26e8eaa9cdd5ff","b6ea5cf7b68eeece","4d0a7d5c8f674b96","b0c03d2369a1ff02"],"x":834,"y":559,"w":412,"h":202},{"id":"a477bdbb917e6bcd","type":"tcp request","z":"e345e003a053a625","g":"83e5e0d8765d1ea3","name":"","server":"192.168.1.204","port":"502","out":"time","ret":"buffer","splitc":"0","newline":"","trim":false,"tls":"","x":1020,"y":680,"wires":[["b0c03d2369a1ff02"]]},{"id":"a58c90ba5423a13c","type":"tcp request","z":"e345e003a053a625","g":"83e5e0d8765d1ea3","name":"","server":"192.168.1.208","port":"502","out":"time","ret":"buffer","splitc":"0","newline":"","trim":false,"tls":"","x":1020,"y":720,"wires":[["b0c03d2369a1ff02"]]},{"id":"3a26e8eaa9cdd5ff","type":"tcp request","z":"e345e003a053a625","d":true,"g":"83e5e0d8765d1ea3","name":"","server":"192.168.1.222","port":"1030","out":"time","ret":"buffer","splitc":"0","newline":"","trim":false,"tls":"","x":1030,"y":640,"wires":[["b0c03d2369a1ff02"]]},{"id":"b6ea5cf7b68eeece","type":"tcp request","z":"e345e003a053a625","d":true,"g":"83e5e0d8765d1ea3","name":"","server":"192.168.1.211","port":"1030","out":"time","ret":"buffer","splitc":"0","newline":"","trim":false,"tls":"","x":1030,"y":600,"wires":[["b0c03d2369a1ff02"]]},{"id":"4d0a7d5c8f674b96","type":"junction","z":"e345e003a053a625","g":"83e5e0d8765d1ea3","x":860,"y":660,"wires":[["b6ea5cf7b68eeece","3a26e8eaa9cdd5ff","a477bdbb917e6bcd","a58c90ba5423a13c"]]},{"id":"b0c03d2369a1ff02","type":"junction","z":"e345e003a053a625","g":"83e5e0d8765d1ea3","x":1220,"y":660,"wires":[["583ec01ceab0f2e0"]]},{"id":"ab1bb3e273ba3b6a","type":"group","z":"e345e003a053a625","g":"159267e74267d50b","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1e068c768ed77fa4","4ccc83c7e9f86d34","a43f2e990387f3fc","80b4ac1a4c880d33","2405de916def83c7","a9abb4384ce48e94","25d7fdccdb79a886"],"x":34,"y":259,"w":612,"h":282},{"id":"1e068c768ed77fa4","type":"function","z":"e345e003a053a625","g":"ab1bb3e273ba3b6a","name":"通用資料debug","func":"switch (msg.command) {\n    case \"clear_flow_cache\": {\n        const keys = flow.keys();\n        keys.forEach(k => flow.set(k, undefined));\n        node.warn(`Flow context cleared: ${keys.length} keys removed.`);\n        return;\n    }\n    case \"show_flow_cache\": {\n        const keys = flow.keys();\n        keys.forEach(k => {\n            node.warn(`${k}:${flow.get(k)}`);\n        });}\n        return;\n    case \"clear_mqtt_queue\":{\n        let queue = global.get(\"mqtt_queue\") || [];\n        node.warn(`clear mqtt_queue of ${queue.length} data`);\n        global.set(\"mqtt_queue\",[]);\n        return;\n    }\n    case \"show_mqtt_queue\": {\n        let queue = global.get(\"mqtt_queue\") || [];\n        queue.forEach((item, index) => {\n            node.warn(`第 ${index + 1} 筆: ${JSON.stringify(item)}`);\n        });\n        return;\n    }\n    case \"show_modbus_queue\": {\n        let queue = global.get(\"modbus_queue\") || [];\n        node.warn(`modbus_queue 共有 ${queue.length} 筆資料`);\n        queue.forEach((item, index) => {\n            if (item.payload && Buffer.isBuffer(item.payload)) {\n                node.warn(`第 ${index + 1} 筆: Buffer ${item.payload.toString('hex')}`);\n            } else {\n                node.warn(`第 ${index + 1} 筆: ${JSON.stringify(item)}`);\n            }\n        });\n        return;\n    }\n    case \"clear_modbus_queue\": {\n        let queue = global.get(\"modbus_queue\") || [];\n        node.warn(`clear modbus_queue of ${queue.length} data`);\n        global.set(\"modbus_queue\", []);\n        return;\n    }\n    default: {\n        node.error(\"Unknown command\", msg.command);\n        return;\n    }\n}","outputs":0,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":400,"wires":[]},{"id":"4ccc83c7e9f86d34","type":"inject","z":"e345e003a053a625","g":"ab1bb3e273ba3b6a","name":"清空 flow cache","props":[{"p":"command","v":"clear_flow_cache","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":300,"wires":[["1e068c768ed77fa4"]],"icon":"font-awesome/fa-refresh"},{"id":"a43f2e990387f3fc","type":"inject","z":"e345e003a053a625","g":"ab1bb3e273ba3b6a","name":"清空 mqtt_queue","props":[{"p":"command","v":"clear_mqtt_queue","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":380,"wires":[["1e068c768ed77fa4"]],"icon":"font-awesome/fa-refresh"},{"id":"80b4ac1a4c880d33","type":"inject","z":"e345e003a053a625","g":"ab1bb3e273ba3b6a","name":"顯示 flow cache","props":[{"p":"command","v":"show_flow_cache","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":340,"wires":[["1e068c768ed77fa4"]],"icon":"font-awesome/fa-refresh"},{"id":"2405de916def83c7","type":"inject","z":"e345e003a053a625","g":"ab1bb3e273ba3b6a","name":"顯示 mqtt_queue","props":[{"p":"command","v":"show_mqtt_queue","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":420,"wires":[["1e068c768ed77fa4"]],"icon":"font-awesome/fa-refresh"},{"id":"a9abb4384ce48e94","type":"inject","z":"e345e003a053a625","g":"ab1bb3e273ba3b6a","name":"show_modbus_queue","props":[{"p":"command","v":"show_modbus_queue","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":460,"wires":[["1e068c768ed77fa4"]],"icon":"font-awesome/fa-refresh"},{"id":"25d7fdccdb79a886","type":"inject","z":"e345e003a053a625","g":"ab1bb3e273ba3b6a","name":"clear_modbus_queue","props":[{"p":"command","v":"clear_modbus_queue","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":500,"wires":[["1e068c768ed77fa4"]],"icon":"font-awesome/fa-refresh"},{"id":"751ec40a6956d4f9","type":"mqtt-broker","name":"","broker":"192.168.1.233","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]