functions/unitest/test_single_light.json
[
    {
        "id": "test_group_single",
        "type": "group",
        "z": "e345e003a053a625",
        "name": "測試 Single Light (single-12-1)",
        "style": {
            "label": true,
            "stroke": "#0070c0",
            "fill": "#bfdbfe",
            "fill-opacity": "0.5"
        },
        "nodes": [
            "inject_on",
            "inject_off",
            "inject_brightness_50",
            "inject_brightness_100",
            "test_single_processor",
            "debug_hex",
            "tcp_output",
            "debug_response",
            "comment_1",
            "inject_clear_cache",
            "clear_cache",
            "inject_show_cache",
            "show_cache"
        ],
        "x": 14,
        "y": 1339,
        "w": 972,
        "h": 322
    },
    {
        "id": "inject_on",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_single",
        "name": "開燈 ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "homeassistant/light/single/12/1/set",
        "payload": "ON",
        "payloadType": "str",
        "x": 80,
        "y": 1400,
        "wires": [
            [
                "test_single_processor"
            ]
        ]
    },
    {
        "id": "inject_off",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_single",
        "name": "關燈 OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "homeassistant/light/single/12/1/set",
        "payload": "OFF",
        "payloadType": "str",
        "x": 80,
        "y": 1440,
        "wires": [
            [
                "test_single_processor"
            ]
        ]
    },
    {
        "id": "inject_brightness_50",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_single",
        "name": "亮度 50%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "homeassistant/light/single/12/1/set/brightness",
        "payload": "50",
        "payloadType": "num",
        "x": 90,
        "y": 1480,
        "wires": [
            [
                "test_single_processor"
            ]
        ]
    },
    {
        "id": "inject_brightness_100",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_single",
        "name": "亮度 100%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "homeassistant/light/single/12/1/set/brightness",
        "payload": "100",
        "payloadType": "num",
        "x": 100,
        "y": 1520,
        "wires": [
            [
                "test_single_processor"
            ]
        ]
    },
    {
        "id": "test_single_processor",
        "type": "function",
        "z": "e345e003a053a625",
        "g": "test_group_single",
        "name": "Single Light 處理器",
        "func": "// 從 command_general.js 提取的 single 燈光處理邏輯\n\nconst DEFAULT_BRIGHTNESS = 100;\nconst BRIGHTNESS_TIME = 0x05;\nconst CHANNEL_REGISTER_MAP = {\n    \"1\": 0x082A,\n    \"2\": 0x082B,\n    \"3\": 0x082C,\n    \"4\": 0x082D\n};\n\nfunction generalCommandBuild(frame) {\n    function crc16(buf) {\n        let crc = 0xFFFF;\n        for (const b of buf) {\n            crc ^= b;\n            for (let i = 0; i < 8; i++) {\n                crc = (crc & 1) ? ((crc >> 1) ^ 0xA001) : (crc >> 1);\n            }\n        }\n        return crc;\n    }\n    const crc = crc16(frame);\n    return Buffer.concat([frame, Buffer.from([crc & 0xFF, (crc >> 8) & 0xFF])]);\n}\n\nfunction clamp(value, min, max) {\n    return value < min ? min : value > max ? max : value;\n}\n\nfunction getBrightness(subType, moduleId, channel, state) {\n    let brightness = flow.get(`${subType}_${moduleId}_${channel}_brightness`);\n    if (typeof brightness !== \"number\") brightness = DEFAULT_BRIGHTNESS;\n    brightness = (state === \"ON\") ? clamp(Math.round(brightness), 0, 100) : 0x00;\n    return brightness;\n}\n\n// 解析 topic\nconst parts = String(msg.topic || \"\").split(\"/\");\nconst deviceType = parts[1];     // light\nconst subType = parts[2];        // single\nconst moduleId = parseInt(parts[3]);  // 12\nconst channel = parts[4];        // 1\n\nnode.warn(`=== 收到訊息 ===`);\nnode.warn(`Topic: ${msg.topic}`);\nnode.warn(`Payload: ${msg.payload}`);\nnode.warn(`Device: ${deviceType}, SubType: ${subType}, Module: ${moduleId}, Channel: ${channel}`);\n\n// 處理 set/brightness\nif (parts.length >= 7 && parts[5] === \"set\") {\n    const attribute = parts[6];  // brightness\n    const key = `${subType}_${moduleId}_${channel}_${attribute}`;\n    const val = Number(msg.payload);\n\n    if (!isNaN(val)) {\n        flow.set(key, val);\n        node.warn(`儲存 ${key} = ${val}`);\n        node.status({\n            fill: \"green\",\n            shape: \"ring\",\n            text: `${key} = ${val}`\n        });\n    }\n\n    // 亮度調整時，智能判斷開關狀態\n    if (attribute === \"brightness\") {\n        const stateKey = `${subType}_${moduleId}_${channel}_state`;\n        let state;\n        if (val > 0) {\n            state = \"ON\";\n            flow.set(stateKey, \"ON\");\n        } else {\n            state = \"OFF\";\n            flow.set(stateKey, \"OFF\");\n        }\n        node.warn(`自動設定狀態: ${state}`);\n        \n        // 轉換為 /set 主題繼續處理\n        msg.topic = `homeassistant/light/${subType}/${moduleId}/${channel}/set`;\n        msg.payload = state;\n    } else {\n        return null;\n    }\n}\n\n// 處理 single 燈光控制\nif (subType === \"single\") {\n    // 狀態 ON 或 OFF\n    let state = (msg.payload === \"ON\" || msg.payload === true) ? \"ON\" : \"OFF\";\n\n    // 記錄狀態到 flow context\n    const stateKey = `${subType}_${moduleId}_${channel}_state`;\n    flow.set(stateKey, state);\n    node.warn(`設定狀態: ${stateKey} = ${state}`);\n\n    let brightness = getBrightness(subType, moduleId, channel, state);\n    node.warn(`亮度值: ${brightness}`);\n    \n    // 取得對應寄存器\n    const reg = CHANNEL_REGISTER_MAP[channel];\n    if (!reg) {\n        node.warn(`找不到通道 ${channel} 的寄存器`);\n        return null;\n    }\n    \n    // 高低位元組\n    const hi = (reg >> 8) & 0xFF;\n    const lo = reg & 0xFF;\n    \n    // OFF 狀態使用 speed=0x00 立即執行，ON 狀態使用 BRIGHTNESS_TIME\n    const speed = (state === \"OFF\") ? 0x00 : BRIGHTNESS_TIME;\n    \n    // 組 Modbus 指令\n    const cmd = Buffer.from([moduleId, 0x06, hi, lo, speed, brightness]);\n    const cmdWithCrc = generalCommandBuild(cmd);\n    \n    node.warn(`=== Modbus 指令 ===`);\n    node.warn(`模組ID: ${moduleId} (0x${moduleId.toString(16).padStart(2, '0')})`);\n    node.warn(`功能碼: 0x06 (Write Single Register)`);\n    node.warn(`寄存器: 0x${reg.toString(16).padStart(4, '0')}`);\n    node.warn(`速度: 0x${speed.toString(16).padStart(2, '0')}`);\n    node.warn(`亮度: ${brightness} (0x${brightness.toString(16).padStart(2, '0')})`);\n    node.warn(`完整指令 (含CRC): ${cmdWithCrc.toString('hex')}`);\n    \n    msg.payload = cmdWithCrc;\n    \n    node.status({\n        fill: state === \"ON\" ? \"green\" : \"grey\",\n        shape: \"dot\",\n        text: `${moduleId}-${channel}: ${state} ${brightness}%`\n    });\n    \n    return msg;\n}\n\nnode.warn(\"不支援的設備類型\");\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// 初始化時清除快取\nnode.warn(\"=== 初始化 Single Light 測試 ===\");",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1460,
        "wires": [
            [
                "debug_hex",
                "tcp_output"
            ]
        ]
    },
    {
        "id": "debug_hex",
        "type": "debug",
        "z": "e345e003a053a625",
        "g": "test_group_single",
        "name": "Modbus 指令 (HEX)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 1440,
        "wires": []
    },
    {
        "id": "tcp_output",
        "type": "tcp request",
        "z": "e345e003a053a625",
        "g": "test_group_single",
        "name": "TCP → Modbus (192.168.98.208:502)",
        "server": "192.168.98.208",
        "port": "502",
        "out": "time",
        "ret": "buffer",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 630,
        "y": 1480,
        "wires": [
            [
                "debug_response"
            ]
        ]
    },
    {
        "id": "debug_response",
        "type": "debug",
        "z": "e345e003a053a625",
        "g": "test_group_single",
        "name": "Modbus 回應",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1480,
        "wires": []
    },
    {
        "id": "comment_1",
        "type": "comment",
        "z": "e345e003a053a625",
        "g": "test_group_single",
        "name": "測試說明：模擬 MQTT 訊息",
        "info": "這個測試流程模擬從 MQTT 收到的訊息\n\n測試步驟：\n1. 點擊「開燈 ON」- 發送 ON 指令\n2. 點擊「關燈 OFF」- 發送 OFF 指令\n3. 點擊「亮度 50%」- 先設定亮度，然後開燈\n4. 點擊「亮度 100%」- 先設定亮度，然後開燈\n\n觀察重點：\n- Debug 視窗會顯示 Modbus 指令的 HEX 格式\n- Function 狀態顯示當前燈光狀態\n- Modbus 回應確認指令是否成功執行",
        "x": 160,
        "y": 1360,
        "wires": []
    },
    {
        "id": "inject_clear_cache",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_single",
        "name": "清除快取",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 1580,
        "wires": [
            [
                "clear_cache"
            ]
        ]
    },
    {
        "id": "clear_cache",
        "type": "function",
        "z": "e345e003a053a625",
        "g": "test_group_single",
        "name": "清除 Flow Context",
        "func": "const keys = flow.keys();\nkeys.forEach(k => {\n    if (k.startsWith('single_12_1')) {\n        flow.set(k, undefined);\n        node.warn(`清除: ${k}`);\n    }\n});\nnode.warn(\"=== Flow Context 已清除 ===\");\nnode.status({\n    fill: \"blue\",\n    shape: \"ring\",\n    text: \"已清除快取\"\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "inject_show_cache",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_single",
        "name": "顯示快取",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 1620,
        "wires": [
            [
                "show_cache"
            ]
        ]
    },
    {
        "id": "show_cache",
        "type": "function",
        "z": "e345e003a053a625",
        "g": "test_group_single",
        "name": "顯示 Flow Context",
        "func": "node.warn(\"=== Flow Context 內容 ===\");\nconst keys = flow.keys();\nkeys.forEach(k => {\n    if (k.startsWith('single_12_1')) {\n        const value = flow.get(k);\n        node.warn(`${k}: ${value}`);\n    }\n});\nif (keys.filter(k => k.startsWith('single_12_1')).length === 0) {\n    node.warn(\"目前沒有 single_12_1 相關的快取資料\");\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1620,
        "wires": [
            []
        ]
    }
]
