functions/unitest/test_dual_light.json
[
    {
        "id": "test_group_dual",
        "type": "group",
        "z": "e345e003a053a625",
        "name": "測試 Dual Light (dual-12-a)",
        "style": {
            "label": true,
            "stroke": "#ff6b35",
            "fill": "#fed9b7",
            "fill-opacity": "0.5"
        },
        "nodes": [
            "inject_dual_on",
            "inject_dual_off",
            "inject_dual_brightness_50",
            "inject_dual_brightness_100",
            "inject_dual_colortemp_cold",
            "inject_dual_colortemp_warm",
            "test_dual_processor",
            "debug_dual_hex",
            "tcp_dual_output",
            "debug_dual_response",
            "comment_dual",
            "inject_clear_dual_cache",
            "clear_dual_cache",
            "inject_show_dual_cache",
            "show_dual_cache"
        ],
        "x": 14,
        "y": 1719,
        "w": 1052,
        "h": 402
    },
    {
        "id": "inject_dual_on",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_dual",
        "name": "開燈 ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "homeassistant/light/dual/12/a/set",
        "payload": "ON",
        "payloadType": "str",
        "x": 80,
        "y": 1800,
        "wires": [
            [
                "test_dual_processor"
            ]
        ]
    },
    {
        "id": "inject_dual_off",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_dual",
        "name": "關燈 OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "homeassistant/light/dual/12/a/set",
        "payload": "OFF",
        "payloadType": "str",
        "x": 80,
        "y": 1840,
        "wires": [
            [
                "test_dual_processor"
            ]
        ]
    },
    {
        "id": "inject_dual_brightness_50",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_dual",
        "name": "亮度 50%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "homeassistant/light/dual/12/a/set/brightness",
        "payload": "50",
        "payloadType": "num",
        "x": 90,
        "y": 1880,
        "wires": [
            [
                "test_dual_processor"
            ]
        ]
    },
    {
        "id": "inject_dual_brightness_100",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_dual",
        "name": "亮度 100%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "homeassistant/light/dual/12/a/set/brightness",
        "payload": "100",
        "payloadType": "num",
        "x": 100,
        "y": 1920,
        "wires": [
            [
                "test_dual_processor"
            ]
        ]
    },
    {
        "id": "inject_dual_colortemp_cold",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_dual",
        "name": "色溫 167 (冷白)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "homeassistant/light/dual/12/a/set/colortemp",
        "payload": "167",
        "payloadType": "num",
        "x": 110,
        "y": 1960,
        "wires": [
            [
                "test_dual_processor"
            ]
        ]
    },
    {
        "id": "inject_dual_colortemp_warm",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_dual",
        "name": "色溫 333 (暖白)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "homeassistant/light/dual/12/a/set/colortemp",
        "payload": "333",
        "payloadType": "num",
        "x": 110,
        "y": 2000,
        "wires": [
            [
                "test_dual_processor"
            ]
        ]
    },
    {
        "id": "test_dual_processor",
        "type": "function",
        "z": "e345e003a053a625",
        "g": "test_group_dual",
        "name": "Dual Light 處理器",
        "func": "// 從 command_general.js 提取的 dual 燈光處理邏輯\n\nconst DEFAULT_BRIGHTNESS = 100;\nconst DEFAULT_COLORTEMP = 250;\nconst MIN_MIRED = 167;\nconst MAX_MIRED = 333;\nconst BRIGHTNESS_TIME = 0x05;\nconst CHANNEL_REGISTER_MAP = {\n    \"1\": 0x082A,\n    \"2\": 0x082B,\n    \"3\": 0x082C,\n    \"4\": 0x082D,\n    \"a\": [0x082A, 0x082B],\n    \"b\": [0x082C, 0x082D]\n};\n\nfunction generalCommandBuild(frame) {\n    function crc16(buf) {\n        let crc = 0xFFFF;\n        for (const b of buf) {\n            crc ^= b;\n            for (let i = 0; i < 8; i++) {\n                crc = (crc & 1) ? ((crc >> 1) ^ 0xA001) : (crc >> 1);\n            }\n        }\n        return crc;\n    }\n    const crc = crc16(frame);\n    return Buffer.concat([frame, Buffer.from([crc & 0xFF, (crc >> 8) & 0xFF])]);\n}\n\nfunction clamp(value, min, max) {\n    return value < min ? min : value > max ? max : value;\n}\n\nfunction buildCommand(moduleId, reg, value, speed = 0x05) {\n    const hi = (reg >> 8) & 0xFF;\n    const lo = reg & 0xFF;\n    const cmd = Buffer.from([moduleId, 0x06, hi, lo, speed, value]);\n    return generalCommandBuild(cmd);\n}\n\n// 解析 topic\nconst parts = String(msg.topic || \"\").split(\"/\");\nconst deviceType = parts[1];     // light\nconst subType = parts[2];        // dual\nconst moduleId = parseInt(parts[3]);  // 12\nconst channel = parts[4];        // a 或 b\n\nnode.warn(`=== 收到訊息 ===`);\nnode.warn(`Topic: ${msg.topic}`);\nnode.warn(`Payload: ${msg.payload}`);\nnode.warn(`Device: ${deviceType}, SubType: ${subType}, Module: ${moduleId}, Channel: ${channel}`);\n\n// 處理 set/brightness 和 set/colortemp\nif (parts.length >= 7 && parts[5] === \"set\") {\n    const attribute = parts[6];  // brightness 或 colortemp\n    const key = `${subType}_${moduleId}_${channel}_${attribute}`;\n    const val = Number(msg.payload);\n\n    if (!isNaN(val)) {\n        flow.set(key, val);\n        node.warn(`儲存 ${key} = ${val}`);\n        node.status({\n            fill: \"blue\",\n            shape: \"ring\",\n            text: `${key} = ${val}`\n        });\n    }\n\n    // 亮度或色溫調整時，智能判斷開關狀態\n    if (attribute === \"brightness\" || attribute === \"colortemp\") {\n        const stateKey = `${subType}_${moduleId}_${channel}_state`;\n        let state;\n        if (attribute === \"brightness\" && val > 0) {\n            state = \"ON\";\n            flow.set(stateKey, \"ON\");\n            node.warn(`自動設定狀態: ${state}`);\n        } else if (attribute === \"brightness\" && val === 0) {\n            state = \"OFF\";\n            flow.set(stateKey, \"OFF\");\n            node.warn(`自動設定狀態: ${state}`);\n        } else {\n            // 色溫調整時保持當前狀態\n            state = flow.get(stateKey) || \"ON\";\n            node.warn(`保持狀態: ${state}`);\n        }\n        \n        // 轉換為 /set 主題繼續處理\n        msg.topic = `homeassistant/light/${subType}/${moduleId}/${channel}/set`;\n        msg.payload = state;\n    } else {\n        return null;\n    }\n}\n\n// 處理 dual 燈光控制\nif (subType === \"dual\") {\n    const regs = CHANNEL_REGISTER_MAP[channel];\n    if (!regs) {\n        node.warn(`找不到通道 ${channel} 的寄存器`);\n        return null;\n    }\n\n    let state = (msg.payload === \"ON\" || msg.payload === true) ? \"ON\" : \"OFF\";\n\n    // 記錄狀態到 flow context\n    const stateKey = `${subType}_${moduleId}_${channel}_state`;\n    flow.set(stateKey, state);\n    node.warn(`設定狀態: ${stateKey} = ${state}`);\n\n    const brKey = `${subType}_${moduleId}_${channel}_brightness`;\n    const ctKey = `${subType}_${moduleId}_${channel}_colortemp`;\n\n    let brightness = flow.get(brKey);\n    if (typeof brightness !== \"number\") brightness = DEFAULT_BRIGHTNESS;\n    brightness = clamp(Math.round(brightness), 0, 100);\n\n    let colortemp = flow.get(ctKey);\n    if (typeof colortemp !== \"number\") colortemp = DEFAULT_COLORTEMP;\n    colortemp = clamp(Math.round(colortemp), MIN_MIRED, MAX_MIRED);\n    const ctPercent = Math.round(((MAX_MIRED - colortemp) / (MAX_MIRED - MIN_MIRED)) * 100);\n\n    node.warn(`亮度值: ${brightness}`);\n    node.warn(`色溫值: ${colortemp} mired (百分比: ${ctPercent}%)`);\n\n    const brValue = (state === \"ON\") ? brightness : 0;\n    const cmdBrightness = buildCommand(moduleId, regs[0], brValue);\n    const cmdColortemp = buildCommand(moduleId, regs[1], ctPercent);\n\n    node.warn(`=== Modbus 指令 (亮度) ===`);\n    node.warn(`模組ID: ${moduleId} (0x${moduleId.toString(16).padStart(2, '0')})`);\n    node.warn(`功能碼: 0x06 (Write Single Register)`);\n    node.warn(`寄存器: 0x${regs[0].toString(16).padStart(4, '0')}`);\n    node.warn(`速度: 0x${BRIGHTNESS_TIME.toString(16).padStart(2, '0')}`);\n    node.warn(`亮度: ${brValue} (0x${brValue.toString(16).padStart(2, '0')})`);\n    node.warn(`完整指令: ${cmdBrightness.toString('hex')}`);\n\n    node.warn(`=== Modbus 指令 (色溫) ===`);\n    node.warn(`模組ID: ${moduleId} (0x${moduleId.toString(16).padStart(2, '0')})`);\n    node.warn(`功能碼: 0x06 (Write Single Register)`);\n    node.warn(`寄存器: 0x${regs[1].toString(16).padStart(4, '0')}`);\n    node.warn(`速度: 0x${BRIGHTNESS_TIME.toString(16).padStart(2, '0')}`);\n    node.warn(`色溫百分比: ${ctPercent} (0x${ctPercent.toString(16).padStart(2, '0')})`);\n    node.warn(`完整指令: ${cmdColortemp.toString('hex')}`);\n\n    node.status({\n        fill: state === \"ON\" ? \"green\" : \"grey\",\n        shape: \"dot\",\n        text: `${moduleId}-${channel}: ${state} ${brightness}% ${colortemp}K`\n    });\n\n    // 返回兩條指令\n    return [\n        { payload: cmdBrightness, topic: \"brightness\" },\n        { payload: cmdColortemp, topic: \"colortemp\" }\n    ];\n}\n\nnode.warn(\"不支援的設備類型\");\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// 初始化時清除快取\nnode.warn(\"=== 初始化 Dual Light 測試 ===\");",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1900,
        "wires": [
            [
                "debug_dual_hex",
                "tcp_dual_output"
            ],
            [
                "debug_dual_hex",
                "tcp_dual_output"
            ]
        ]
    },
    {
        "id": "debug_dual_hex",
        "type": "debug",
        "z": "e345e003a053a625",
        "g": "test_group_dual",
        "name": "Modbus 指令 (HEX)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1880,
        "wires": []
    },
    {
        "id": "tcp_dual_output",
        "type": "tcp request",
        "z": "e345e003a053a625",
        "g": "test_group_dual",
        "name": "TCP → Modbus (192.168.98.208:502)",
        "server": "192.168.98.208",
        "port": "502",
        "out": "time",
        "ret": "buffer",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 670,
        "y": 1920,
        "wires": [
            [
                "debug_dual_response"
            ]
        ]
    },
    {
        "id": "debug_dual_response",
        "type": "debug",
        "z": "e345e003a053a625",
        "g": "test_group_dual",
        "name": "Modbus 回應",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1920,
        "wires": []
    },
    {
        "id": "comment_dual",
        "type": "comment",
        "z": "e345e003a053a625",
        "g": "test_group_dual",
        "name": "測試說明：雙色溫燈光控制 (2 個寄存器)",
        "info": "這個測試流程測試雙色溫燈光控制\n\n測試步驟：\n1. 點擊「開燈 ON」- 發送 ON 指令 (亮度 + 色溫)\n2. 點擊「關燈 OFF」- 發送 OFF 指令 (亮度=0 + 色溫)\n3. 點擊「亮度 50%」- 設定亮度，然後開燈\n4. 點擊「亮度 100%」- 設定亮度，然後開燈\n5. 點擊「色溫 167」- 設定冷白色溫\n6. 點擊「色溫 333」- 設定暖白色溫\n\n觀察重點：\n- 每次操作會發送**兩條**Modbus 指令 (亮度 + 色溫)\n- 寄存器 a = [0x082A (亮度), 0x082B (色溫)]\n- 色溫範圍：167-333 mired，轉換為 0-100%",
        "x": 210,
        "y": 1760,
        "wires": []
    },
    {
        "id": "inject_clear_dual_cache",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_dual",
        "name": "清除快取",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 2060,
        "wires": [
            [
                "clear_dual_cache"
            ]
        ]
    },
    {
        "id": "clear_dual_cache",
        "type": "function",
        "z": "e345e003a053a625",
        "g": "test_group_dual",
        "name": "清除 Flow Context",
        "func": "const keys = flow.keys();\nkeys.forEach(k => {\n    if (k.startsWith('dual_12_a')) {\n        flow.set(k, undefined);\n        node.warn(`清除: ${k}`);\n    }\n});\nnode.warn(\"=== Flow Context 已清除 ===\");\nnode.status({\n    fill: \"blue\",\n    shape: \"ring\",\n    text: \"已清除快取\"\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "inject_show_dual_cache",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_dual",
        "name": "顯示快取",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 2100,
        "wires": [
            [
                "show_dual_cache"
            ]
        ]
    },
    {
        "id": "show_dual_cache",
        "type": "function",
        "z": "e345e003a053a625",
        "g": "test_group_dual",
        "name": "顯示 Flow Context",
        "func": "node.warn(\"=== Flow Context 內容 ===\");\nconst keys = flow.keys();\nkeys.forEach(k => {\n    if (k.startsWith('dual_12_a')) {\n        const value = flow.get(k);\n        node.warn(`${k}: ${value}`);\n    }\n});\nif (keys.filter(k => k.startsWith('dual_12_a')).length === 0) {\n    node.warn(\"目前沒有 dual_12_a 相關的快取資料\");\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 2100,
        "wires": [
            []
        ]
    }
]
