functions/unitest/test_integrated_light.json
[
    {
        "id": "test_group_integrated",
        "type": "group",
        "z": "e345e003a053a625",
        "name": "整合測試：Single + Dual Light (無 Queue)",
        "style": {
            "label": true,
            "stroke": "#16a34a",
            "fill": "#dcfce7",
            "fill-opacity": "0.5"
        },
        "nodes": [
            "mqtt_in_light",
            "integrated_processor",
            "debug_integrated_command",
            "tcp_integrated_output",
            "feedback_processor",
            "debug_feedback",
            "mqtt_out_state",
            "debug_mqtt_out",
            "comment_integrated",
            "inject_test_single_on",
            "inject_test_dual_on",
            "inject_clear_integrated_cache",
            "clear_integrated_cache",
            "inject_show_integrated_cache",
            "show_integrated_cache"
        ],
        "x": 14,
        "y": 2179,
        "w": 1132,
        "h": 482
    },
    {
        "id": "mqtt_in_light",
        "type": "mqtt in",
        "z": "e345e003a053a625",
        "g": "test_group_integrated",
        "name": "MQTT 訂閱燈光控制",
        "topic": "homeassistant/light/+/+/+/set/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 2280,
        "wires": [
            [
                "integrated_processor"
            ]
        ]
    },
    {
        "id": "inject_test_single_on",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_integrated",
        "name": "測試 Single ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "homeassistant/light/single/12/1/set",
        "payload": "ON",
        "payloadType": "str",
        "x": 130,
        "y": 2320,
        "wires": [
            [
                "integrated_processor"
            ]
        ]
    },
    {
        "id": "inject_test_dual_on",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_integrated",
        "name": "測試 Dual ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "homeassistant/light/dual/12/a/set",
        "payload": "ON",
        "payloadType": "str",
        "x": 120,
        "y": 2360,
        "wires": [
            [
                "integrated_processor"
            ]
        ]
    },
    {
        "id": "integrated_processor",
        "type": "function",
        "z": "e345e003a053a625",
        "g": "test_group_integrated",
        "name": "整合處理器 (Single + Dual)",
        "func": "// 整合版本：支援 Single 和 Dual 燈光，包含 MQTT 狀態回報\n\nconst DEFAULT_BRIGHTNESS = 100;\nconst DEFAULT_COLORTEMP = 250;\nconst MIN_MIRED = 167;\nconst MAX_MIRED = 333;\nconst BRIGHTNESS_TIME = 0x05;\nconst CHANNEL_REGISTER_MAP = {\n    \"1\": 0x082A,\n    \"2\": 0x082B,\n    \"3\": 0x082C,\n    \"4\": 0x082D,\n    \"a\": [0x082A, 0x082B],\n    \"b\": [0x082C, 0x082D]\n};\n\nfunction generalCommandBuild(frame) {\n    function crc16(buf) {\n        let crc = 0xFFFF;\n        for (const b of buf) {\n            crc ^= b;\n            for (let i = 0; i < 8; i++) {\n                crc = (crc & 1) ? ((crc >> 1) ^ 0xA001) : (crc >> 1);\n            }\n        }\n        return crc;\n    }\n    const crc = crc16(frame);\n    return Buffer.concat([frame, Buffer.from([crc & 0xFF, (crc >> 8) & 0xFF])]);\n}\n\nfunction clamp(value, min, max) {\n    return value < min ? min : value > max ? max : value;\n}\n\nfunction buildCommand(moduleId, reg, value, speed = 0x05) {\n    const hi = (reg >> 8) & 0xFF;\n    const lo = reg & 0xFF;\n    const cmd = Buffer.from([moduleId, 0x06, hi, lo, speed, value]);\n    return generalCommandBuild(cmd);\n}\n\n// 解析 topic\nconst parts = String(msg.topic || \"\").split(\"/\");\nconst deviceType = parts[1];     // light\nconst subType = parts[2];        // single, dual\nconst moduleId = parseInt(parts[3]);\nconst channel = parts[4];\n\nnode.warn(`=== 收到訊息 ===`);\nnode.warn(`Topic: ${msg.topic}`);\nnode.warn(`Payload: ${msg.payload}`);\n\n// 處理 set/brightness 和 set/colortemp\nif (parts.length >= 7 && parts[5] === \"set\") {\n    const attribute = parts[6];\n    const key = `${subType}_${moduleId}_${channel}_${attribute}`;\n    const val = Number(msg.payload);\n\n    if (!isNaN(val)) {\n        flow.set(key, val);\n        node.warn(`儲存 ${key} = ${val}`);\n    }\n\n    if (attribute === \"brightness\" || attribute === \"colortemp\") {\n        const stateKey = `${subType}_${moduleId}_${channel}_state`;\n        let state;\n        if (attribute === \"brightness\" && val > 0) {\n            state = \"ON\";\n            flow.set(stateKey, \"ON\");\n        } else if (attribute === \"brightness\" && val === 0) {\n            state = \"OFF\";\n            flow.set(stateKey, \"OFF\");\n        } else {\n            state = flow.get(stateKey) || \"ON\";\n        }\n        \n        msg.topic = `homeassistant/light/${subType}/${moduleId}/${channel}/set`;\n        msg.payload = state;\n    } else {\n        return null;\n    }\n}\n\nlet modbusMessages = [];\nlet mqttMessages = [];\nconst baseTopic = `homeassistant/light/${subType}/${moduleId}/${channel}`;\n\n// ========== Single Light ==========\nif (subType === \"single\") {\n    const reg = CHANNEL_REGISTER_MAP[channel];\n    if (!reg) {\n        node.warn(`找不到通道 ${channel} 的寄存器`);\n        return null;\n    }\n\n    let state = (msg.payload === \"ON\" || msg.payload === true) ? \"ON\" : \"OFF\";\n    const stateKey = `${subType}_${moduleId}_${channel}_state`;\n    flow.set(stateKey, state);\n\n    let brightness = flow.get(`${subType}_${moduleId}_${channel}_brightness`);\n    if (typeof brightness !== \"number\") brightness = DEFAULT_BRIGHTNESS;\n    brightness = clamp(Math.round(brightness), 0, 100);\n\n    const brValue = (state === \"ON\") ? brightness : 0;\n    const speed = (state === \"OFF\") ? 0x00 : BRIGHTNESS_TIME;\n    const cmd = buildCommand(moduleId, reg, brValue, speed);\n\n    node.warn(`=== Modbus 指令 (Single) ===`);\n    node.warn(`完整指令: ${cmd.toString('hex')}`);\n\n    // Modbus 指令\n    modbusMessages.push({ payload: cmd, subType, moduleId, channel, state, brightness });\n\n    // MQTT 狀態回報\n    mqttMessages.push({ topic: `${baseTopic}/state`, payload: state });\n    if (state === \"ON\") {\n        mqttMessages.push({ topic: `${baseTopic}/brightness`, payload: brightness });\n    }\n\n    node.status({\n        fill: state === \"ON\" ? \"green\" : \"grey\",\n        shape: \"dot\",\n        text: `${moduleId}-${channel}: ${state} ${brightness}%`\n    });\n}\n\n// ========== Dual Light ==========\nelse if (subType === \"dual\") {\n    const regs = CHANNEL_REGISTER_MAP[channel];\n    if (!regs) {\n        node.warn(`找不到通道 ${channel} 的寄存器`);\n        return null;\n    }\n\n    let state = (msg.payload === \"ON\" || msg.payload === true) ? \"ON\" : \"OFF\";\n    const stateKey = `${subType}_${moduleId}_${channel}_state`;\n    flow.set(stateKey, state);\n\n    let brightness = flow.get(`${subType}_${moduleId}_${channel}_brightness`);\n    if (typeof brightness !== \"number\") brightness = DEFAULT_BRIGHTNESS;\n    brightness = clamp(Math.round(brightness), 0, 100);\n\n    let colortemp = flow.get(`${subType}_${moduleId}_${channel}_colortemp`);\n    if (typeof colortemp !== \"number\") colortemp = DEFAULT_COLORTEMP;\n    colortemp = clamp(Math.round(colortemp), MIN_MIRED, MAX_MIRED);\n    const ctPercent = Math.round(((MAX_MIRED - colortemp) / (MAX_MIRED - MIN_MIRED)) * 100);\n\n    const brValue = (state === \"ON\") ? brightness : 0;\n    const cmdBrightness = buildCommand(moduleId, regs[0], brValue);\n    const cmdColortemp = buildCommand(moduleId, regs[1], ctPercent);\n\n    node.warn(`=== Modbus 指令 (Dual) ===`);\n    node.warn(`亮度指令: ${cmdBrightness.toString('hex')}`);\n    node.warn(`色溫指令: ${cmdColortemp.toString('hex')}`);\n\n    // Modbus 指令 (兩條)\n    modbusMessages.push({ payload: cmdBrightness, subType, moduleId, channel, state, brightness, colortemp });\n    modbusMessages.push({ payload: cmdColortemp, subType, moduleId, channel, state, brightness, colortemp });\n\n    // MQTT 狀態回報\n    mqttMessages.push({ topic: `${baseTopic}/state`, payload: state });\n    if (state === \"ON\") {\n        mqttMessages.push({ topic: `${baseTopic}/brightness`, payload: brightness });\n        mqttMessages.push({ topic: `${baseTopic}/colortemp`, payload: colortemp });\n    }\n\n    node.status({\n        fill: state === \"ON\" ? \"green\" : \"grey\",\n        shape: \"dot\",\n        text: `${moduleId}-${channel}: ${state} ${brightness}% ${colortemp}K`\n    });\n}\nelse {\n    node.warn(`不支援的設備類型: ${subType}`);\n    return null;\n}\n\n// 返回: [Modbus 指令, MQTT 狀態]\nreturn [modbusMessages, mqttMessages];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "node.warn(\"=== 初始化整合測試 ===\");",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2320,
        "wires": [
            [
                "debug_integrated_command",
                "tcp_integrated_output"
            ],
            [
                "debug_mqtt_out",
                "mqtt_out_state"
            ]
        ]
    },
    {
        "id": "debug_integrated_command",
        "type": "debug",
        "z": "e345e003a053a625",
        "g": "test_group_integrated",
        "name": "Modbus 指令",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 2300,
        "wires": []
    },
    {
        "id": "tcp_integrated_output",
        "type": "tcp request",
        "z": "e345e003a053a625",
        "g": "test_group_integrated",
        "name": "TCP → Modbus",
        "server": "192.168.98.208",
        "port": "502",
        "out": "time",
        "ret": "buffer",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 660,
        "y": 2340,
        "wires": [
            [
                "feedback_processor"
            ]
        ]
    },
    {
        "id": "feedback_processor",
        "type": "function",
        "z": "e345e003a053a625",
        "g": "test_group_integrated",
        "name": "Feedback 處理器",
        "func": "// 簡化版 Feedback 處理器\n\nfunction verifyCRC(buf) {\n    let crc = 0xFFFF;\n    for (let i = 0; i < buf.length - 2; i++) {\n        crc ^= buf[i];\n        for (let j = 0; j < 8; j++) {\n            crc = (crc & 1) ? ((crc >> 1) ^ 0xA001) : (crc >> 1);\n        }\n    }\n    const lo = crc & 0xFF;\n    const hi = (crc >> 8) & 0xFF;\n    return lo === buf[buf.length - 2] && hi === buf[buf.length - 1];\n}\n\nconst buf = msg.payload;\n\nif (!Buffer.isBuffer(buf) || buf.length < 8) {\n    node.warn(\"回應格式錯誤\");\n    return null;\n}\n\nif (!verifyCRC(buf)) {\n    node.warn(\"CRC 驗證失敗\");\n    return null;\n}\n\nconst moduleId = buf[0];\nconst funcCode = buf[1];\nconst regHi = buf[2];\nconst regLo = buf[3];\nconst valueHi = buf[4];\nconst valueLo = buf[5];\n\nconst register = (regHi << 8) | regLo;\nconst value = (valueHi << 8) | valueLo;\n\nnode.warn(`=== Modbus 回應 ===`);\nnode.warn(`模組ID: ${moduleId}`);\nnode.warn(`功能碼: 0x${funcCode.toString(16).padStart(2, '0')}`);\nnode.warn(`寄存器: 0x${register.toString(16).padStart(4, '0')}`);\nnode.warn(`數值: ${value} (${valueLo})`);\n\nnode.status({\n    fill: \"blue\",\n    shape: \"ring\",\n    text: `回應: Module ${moduleId}, Reg 0x${register.toString(16)}, Val ${valueLo}`\n});\n\nmsg.feedback = {\n    moduleId,\n    register,\n    value: valueLo,\n    raw: buf.toString('hex')\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 2340,
        "wires": [
            [
                "debug_feedback"
            ]
        ]
    },
    {
        "id": "debug_feedback",
        "type": "debug",
        "z": "e345e003a053a625",
        "g": "test_group_integrated",
        "name": "Feedback 解析",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "feedback",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 2340,
        "wires": []
    },
    {
        "id": "mqtt_out_state",
        "type": "mqtt out",
        "z": "e345e003a053a625",
        "g": "test_group_integrated",
        "name": "MQTT 發布狀態",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 880,
        "y": 2380,
        "wires": []
    },
    {
        "id": "debug_mqtt_out",
        "type": "debug",
        "z": "e345e003a053a625",
        "g": "test_group_integrated",
        "name": "MQTT 狀態回報",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 2420,
        "wires": []
    },
    {
        "id": "comment_integrated",
        "type": "comment",
        "z": "e345e003a053a625",
        "g": "test_group_integrated",
        "name": "整合測試：完整流程 (MQTT In → 處理器 → Modbus → Feedback → MQTT Out)",
        "info": "這是完整的整合測試流程，包含：\n\n✅ MQTT 訂閱 (從 HA 接收控制指令)\n✅ Single/Dual 燈光處理\n✅ Modbus 指令發送\n✅ Feedback 解析 (CRC 驗證)\n✅ MQTT 狀態回報 (發布到 HA)\n\n❌ 沒有 Queue 系統 (直接發送)\n\n測試方式：\n1. 在 HA UI 上操作燈光\n2. 或點擊 inject 節點手動測試\n3. 觀察 Debug 視窗的完整流程\n\n支援設備：\n- single/12/1 (單色燈)\n- dual/12/a (雙色溫燈)",
        "x": 280,
        "y": 2240,
        "wires": []
    },
    {
        "id": "inject_clear_integrated_cache",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_integrated",
        "name": "清除快取",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 2560,
        "wires": [
            [
                "clear_integrated_cache"
            ]
        ]
    },
    {
        "id": "clear_integrated_cache",
        "type": "function",
        "z": "e345e003a053a625",
        "g": "test_group_integrated",
        "name": "清除所有快取",
        "func": "const keys = flow.keys();\nlet count = 0;\nkeys.forEach(k => {\n    if (k.startsWith('single_') || k.startsWith('dual_')) {\n        flow.set(k, undefined);\n        node.warn(`清除: ${k}`);\n        count++;\n    }\n});\nnode.warn(`=== 已清除 ${count} 筆快取 ===`);\nnode.status({\n    fill: \"blue\",\n    shape: \"ring\",\n    text: `已清除 ${count} 筆`\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 2560,
        "wires": [
            []
        ]
    },
    {
        "id": "inject_show_integrated_cache",
        "type": "inject",
        "z": "e345e003a053a625",
        "g": "test_group_integrated",
        "name": "顯示快取",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 2600,
        "wires": [
            [
                "show_integrated_cache"
            ]
        ]
    },
    {
        "id": "show_integrated_cache",
        "type": "function",
        "z": "e345e003a053a625",
        "g": "test_group_integrated",
        "name": "顯示所有快取",
        "func": "node.warn(\"=== Flow Context 內容 ===\");\nconst keys = flow.keys();\nconst filtered = keys.filter(k => k.startsWith('single_') || k.startsWith('dual_'));\n\nif (filtered.length === 0) {\n    node.warn(\"目前沒有任何快取資料\");\n} else {\n    filtered.forEach(k => {\n        const value = flow.get(k);\n        node.warn(`${k}: ${value}`);\n    });\n    node.warn(`=== 共 ${filtered.length} 筆快取 ===`);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 2600,
        "wires": [
            []
        ]
    }
]
